Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Add localization support for multiple languages including Portuguese, Russian, Turkish, Chinese (Simplified and Traditional)
  client/package-lock.json
  client/package.json
  client/public/locales/cs.json
  client/public/locales/de.json
  client/public/locales/en.json
  client/public/locales/es.json
  client/public/locales/fr.json
  client/public/locales/it.json
  client/public/locales/ja.json
  client/public/locales/ko.json
  client/public/locales/pl.json
  client/public/locales/pt-BR.json
  client/public/locales/ru.json
  client/public/locales/tr.json
  client/public/locales/zh-CN.json
  client/public/locales/zh-TW.json
  client/src/i18n/index.ts
  tsconfig.tsbuildinfo
Due: eslint --cache --fix, prettier --write

feat: add copy-webpack-plugin and json-minimizer-webpack-plugin for asset management and optimization fix: update i18n loadPath to reflect new asset structure
  client/package-lock.json
  client/package.json
  client/src/i18n/index.ts
  client/webpack.config.js
Due: eslint --cache --fix, prettier --write

Add localization support for multiple languages and update webpack configuration
  client/package-lock.json
  client/package.json
  client/src/i18n/index.ts
  client/src/i18n/locales/cs.json
  client/src/i18n/locales/de.json
  client/src/i18n/locales/en.json
  client/src/i18n/locales/es.json
  client/src/i18n/locales/fr.json
  client/src/i18n/locales/it.json
  client/src/i18n/locales/ja.json
  client/src/i18n/locales/ko.json
  client/src/i18n/locales/pl.json
  client/src/i18n/locales/pt-br_temp.json
  client/src/i18n/locales/ru.json
  client/src/i18n/locales/tr.json
  client/src/i18n/locales/zh-cn_temp.json
  client/src/i18n/locales/zh-tw_temp.json
  client/webpack.config.js
  workspaceTest.code-workspace
Due: eslint --cache --fix, prettier --write

feat: agregar soporte de localización para idiomas portugués, chino simplificado y tradicional
  client/src/i18n/locales/pt-br.json
  client/src/i18n/locales/zh-cn.json
  client/src/i18n/locales/zh-tw.json
Due: prettier --write

feat: add language configuration support and remove unused language detection
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/__tests__/setup.ts
  client/src/i18n/index.ts
  client/src/types/ViewExportsSVG.d.ts
  client/src/vite-env.d.ts
  src/controllers/handlers/ConfigurationHandler.ts
  src/controllers/listener/ListerWebviewController.ts
  src/controllers/listener/MessageRouterController.ts
  src/enum/ViewExportsSVG.ts
  src/types/views/PostMessage.d.ts
  src/types/views/ReceiveMessage.d.ts
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

chore: update .gitignore to include TypeScript build info and remove tsconfig.tsbuildinfo
  .gitignore
  tsconfig.tsbuildinfo
Due: none

feat: add reload functionality to webview and update localization messages
  client/src/providers/Configuration.tsx
  client/src/types/ViewExportsSVG.d.ts
  l10n.schema.json
  l10n/bundle.l10n.cs.json
  l10n/bundle.l10n.de.json
  l10n/bundle.l10n.es.json
  l10n/bundle.l10n.fr.json
  l10n/bundle.l10n.it.json
  l10n/bundle.l10n.ja.json
  l10n/bundle.l10n.json
  l10n/bundle.l10n.ko.json
  l10n/bundle.l10n.pl.json
  l10n/bundle.l10n.pt-br.json
  l10n/bundle.l10n.ru.json
  l10n/bundle.l10n.tr.json
  l10n/bundle.l10n.zh-cn.json
  l10n/bundle.l10n.zh-tw.json
  src/commands/cache.ts
  src/controllers/listener/ListerWebviewController.ts
  src/enum/ViewExportsSVG.ts
  src/types/views/PostMessage.d.ts
Due: eslint --cache --fix, prettier --write

feat: implement scanning functionality and update related commands and localization
  client/src/modules/dashboard/hooks/useDashboard.tsx
  client/src/providers/Configuration.tsx
  client/src/store/features/GlobalSlice.ts
  client/src/types/ViewExportsSVG.d.ts
  client/src/types/store/features/GlobalSlice.d.ts
  nls.schema.json
  package.json
  package.nls.cs.json
  package.nls.de.json
  package.nls.es.json
  package.nls.fr.json
  package.nls.it.json
  package.nls.ja.json
  package.nls.json
  package.nls.ko.json
  package.nls.pl.json
  package.nls.pt-br.json
  package.nls.ru.json
  package.nls.tr.json
  package.nls.zh-cn.json
  package.nls.zh-tw.json
  src/commands/index.ts
  src/commands/scanning.ts
  src/commands/showMenu.ts
  src/controllers/handlers/SVGComponentHandler.ts
  src/controllers/listener/ListerWebviewController.ts
  src/controllers/views/ViewExportsSVGController.ts
  src/enum/ViewExportsSVG.ts
  src/extension.ts
  src/types/views/PostMessage.d.ts
Due: eslint --cache --fix, prettier --write

feat: update changelog with new features, enhancements, and bug fixes for version 4.0.0
  CHANGELOG.md
Due: prettier --write

docs: clarify repository name and update build command in CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

docs: enhance LEARN.md with detailed usage instructions and features overview
  LEARN.md
Due: prettier --write

docs: format key features and usage instructions in LEARN.md for improved readability
  LEARN.md
Due: prettier --write

feat: update scanning command to accept extension context and improve initialization logic
  package.json
  src/commands/scanning.ts
  src/extension.ts
Due: eslint --cache --fix, prettier --write

docs: enhance README.md with improved structure, key features, and installation instructions
  README.md
Due: prettier --write

feat: add JSON schemas for localization and NLS configurations
  .vscode/settings.json
  .vscodeignore
  schemas/l10n.schema.json
  schemas/nls.schema.json
Due: prettier --write

fix: add optional chaining for safe access to language configuration
  client/src/i18n/index.ts
Due: eslint --cache --fix, prettier --write

fix: update expected timestamp in getFileTimestamp test
  src/test/suite/utilities/files/misc.test.ts
Due: eslint --cache --fix, prettier --write

fix: improve theme handling in editor configuration
  src/utilities/vscode/config.ts
Due: eslint --cache --fix, prettier --write

feat: add "Copy name" functionality to context menu with internationalization support
  client/i18n.schema.json
  client/src/core/components/Cards/CardSvgRenderMemo/ContextMenu.tsx
  client/src/i18n/locales/cs.json
  client/src/i18n/locales/de.json
  client/src/i18n/locales/en.json
  client/src/i18n/locales/es.json
  client/src/i18n/locales/fr.json
  client/src/i18n/locales/it.json
  client/src/i18n/locales/ja.json
  client/src/i18n/locales/ko.json
  client/src/i18n/locales/pl.json
  client/src/i18n/locales/pt-br.json
  client/src/i18n/locales/ru.json
  client/src/i18n/locales/tr.json
  client/src/i18n/locales/zh-cn.json
  client/src/i18n/locales/zh-tw.json
Due: eslint --cache --fix, prettier --write

fix: add missing divider in context menu for better separation of actions
  client/src/core/components/Cards/CardSvgRenderMemo/ContextMenu.tsx
Due: eslint --cache --fix, prettier --write

fix: update launch configuration and package versions for improved build process
  .vscode/launch.json
  esbuild.config.js
  package-lock.json
  package.json
  workspaceTest.code-workspace
Due: prettier --write

Update l10n/bundle.l10n.it.json
  l10n/bundle.l10n.it.json
Due: prettier --write

Update l10n/bundle.l10n.es.json
  l10n/bundle.l10n.es.json
Due: prettier --write

Update l10n/bundle.l10n.fr.json
  l10n/bundle.l10n.fr.json
Due: prettier --write

Update client/src/i18n/locales/zh-cn.json
  client/src/i18n/locales/zh-cn.json
Due: prettier --write

Update client/src/i18n/locales/zh-tw.json
  client/src/i18n/locales/zh-tw.json
Due: prettier --write

fix: correct typo in border property for data display customizations
  client/src/styles/theme/Customizations/dataDisplay.tsx
Due: eslint --cache --fix, prettier --write

refactor: simplify request function declaration in VSCodeInternalAPIWrapper
  client/src/services/vscode/VSCodeInternal.ts
Due: eslint --cache --fix, prettier --write

fix: improve loadCache method to handle missing cache file gracefully
  src/controllers/cache/FileModifiedCacheController.ts
Due: eslint --cache --fix, prettier --write

feat: add open-in-browser script and update dependencies
  .gitignore
  package-lock.json
  package.json
  workspaceTest.code-workspace
Due: prettier --write

fix: update import statement and improve manifest file path handling
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

refactor: update parameter types in SVG extraction functions for consistency
  src/utilities/babelParser.ts
  src/utilities/files/processFiles.ts
  src/utilities/svg/extracts.ts
Due: eslint --cache --fix, prettier --write

refactor: streamline file selection process in processFiles function
  src/utilities/files/processFiles.ts
Due: eslint --cache --fix, prettier --write

fix: correct URI parsing for manifest file reading
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

fix: reveal active panel when initializing and updating SVG exports
  src/controllers/views/ViewExportsSVGController.ts
Due: eslint --cache --fix, prettier --write

refactor: enhance URI parsing logic for webview asset retrieval
  src/utilities/vscode/uri.ts
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

fix: update getId method to use folder.toString() for URI representation
  src/controllers/cache/IconCacheController.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,md,json}
