Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,md,json}": "prettier --write",
  "./client/**/*.{ts,tsx}": "eslint --cache --fix",
  "./client/**/*.{ts,tsx,css,md,json}": "prettier --write"
}

feat: add GitHub Actions workflow for deploying Docusaurus to GitHub Pages
  .github/workflows/deploy-docs.yml
Due: none

fix: update workflow name for clarity and consistency
  .github/workflows/deploy-docs.yml
Due: none

fix: simplify branch specification in deployment workflow
  .github/workflows/deploy-docs.yml
Due: none

fix: update Node.js version in deployment workflow to 22
  .github/workflows/deploy-docs.yml
Due: none

fix: update Node.js version requirement to 22.x in package.json and package-lock.json
  docs/package-lock.json
  docs/package.json
Due: prettier --write

fix: remove deprecated GitHub Actions workflow for deploying documentation
  .github/workflows/deploy-docs.yml
Due: none

fix: update production URL in docusaurus configuration
  docs/docusaurus.config.ts
Due: eslint --cache --fix, prettier --write

fix: update Node.js version specification in package.json to 22.x
  docs/package.json
Due: prettier --write

fix: remove padding-top from sidebarViewport in styles.module.css
  docs/src/theme/DocRoot/Layout/Sidebar/styles.module.css
Due: prettier --write

fix: add max-w-full class to Table component for better responsiveness
  docs/src/components/MDXComponents/Table.tsx
Due: eslint --cache --fix, prettier --write

fix: ensure padding-top is applied to sidebarViewport for consistent layout
  docs/src/theme/DocRoot/Layout/Sidebar/styles.module.css
Due: prettier --write

fix: remove unused @heroui/skeleton dependency and refactor DocCard component
  docs/package-lock.json
  docs/package.json
  docs/src/components/DocCard.tsx
Due: eslint --cache --fix, prettier --write

fix: update documentation links for clarity and accuracy
  README.md
  client/src/core/hooks/useLoadFiles.tsx
Due: eslint --cache --fix, prettier --write

fix: add smooth scroll behavior to html element
  docs/src/css/custom.css
Due: prettier --write

feat: integrate dotenv for environment variables and add search bar component to navbar
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  docs/src/css/custom.css
  docs/src/theme/Navbar/Content/NavbarContentItems.tsx
  docs/src/theme/Navbar/CustomComponent.tsx
  docs/src/theme/Navbar/SearchBar/SearchBar.tsx
Due: eslint --cache --fix, prettier --write

refactor: rename SearchBar container class for consistency and update styles
  docs/src/css/custom.css
  docs/src/theme/Navbar/SearchBar/SearchBar.tsx
Due: eslint --cache --fix, prettier --write

fix: update import statements for NavbarItemLink and NavbarItemComponentProps for consistency
  docs/src/theme/Navbar/Content/NavbarContentItems.tsx
  docs/src/theme/Navbar/CustomComponent.tsx
Due: eslint --cache --fix, prettier --write

feat: enhance navbar components with responsive styles and new mobile sidebar toggle
  docs/src/css/custom.css
  docs/src/theme/Navbar/Content/index.tsx
  docs/src/theme/Navbar/Layout/index.tsx
  docs/src/theme/Navbar/Logo/index.tsx
  docs/src/theme/Navbar/Logo/logo.module.css
  docs/src/theme/Navbar/MobileSidebar/index.tsx
  docs/src/theme/Navbar/MobileSidebarToggle/index.tsx
  docs/src/theme/TOCCollapsible/index.tsx
Due: eslint --cache --fix, prettier --write

fix: safely access window object in MobileSidebarToggle component
  docs/src/theme/Navbar/MobileSidebarToggle/index.tsx
Due: eslint --cache --fix, prettier --write

fix: update MobileSidebarToggle to safely check homepage status using state
  docs/src/theme/Navbar/MobileSidebarToggle/index.tsx
Due: eslint --cache --fix, prettier --write

fix: adjust title font size in PaginatorNavLink component for better responsiveness
  docs/src/theme/PaginatorNavLink/index.tsx
Due: eslint --cache --fix, prettier --write

fix: correct typo in configuration keys for consistency
  client/index.html
  client/src/store/features/GlobalSlice.ts
  client/src/types/types.d.ts
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

fix: enhance API URL validation to prevent trailing slashes
  client/src/config/environment.ts
Due: eslint --cache --fix, prettier --write

refactor: replace misc utility imports with specific utility functions and add new clipboard and error handling utilities
  client/src/app/Layouts/RouteManager.tsx
  client/src/core/components/LoadingPage/LoadingPage.tsx
  client/src/core/components/SVG/RenderSvg/RenderSvg.tsx
  client/src/core/components/SpeedDial/DraggableSpeedDial/DraggableSpeedDial.tsx
  client/src/core/hooks/DevTools/usePlayground.tsx
  client/src/core/hooks/useCardSvg.tsx
  client/src/core/hooks/useContextMenuSVG.tsx
  client/src/core/hooks/useDrop.tsx
  client/src/core/hooks/useViewPanels.tsx
  client/src/core/hooks/vs/useColorPicker.tsx
  client/src/core/hooks/vs/useEditor.tsx
  client/src/core/utils/vs/Editor/createEditor.ts
  client/src/core/utils/vs/Editor/extensions/theme.ts
  client/src/services/vscode/VSCodeInternal.ts
  client/src/utils/clipboard.ts
  client/src/utils/errors.ts
  client/src/utils/is-empty.ts
Due: eslint --cache --fix, prettier --write

refactor: reorganize component imports
  client/src/app/dashboard/Dashboard.tsx
  client/src/app/home/Home.tsx
  client/src/app/upload/Upload.tsx
  client/src/features/dashboard/components/ContainerComponents/ContainerComponents.classes.ts
  client/src/features/dashboard/components/ContainerComponents/ContainerComponents.style.tsx
  client/src/features/dashboard/components/ContainerComponents/ContainerComponents.tsx
  client/src/features/dashboard/components/ContainerComponents/index.ts
  client/src/features/dashboard/components/ProgressBarInRefresh/ProgressBarInRefresh.tsx
  client/src/features/dashboard/components/SearchBar/SearchBar.classes.ts
  client/src/features/dashboard/components/SearchBar/SearchBar.style.tsx
  client/src/features/dashboard/components/SearchBar/SearchBar.tsx
  client/src/features/dashboard/components/SearchBar/index.ts
  client/src/features/dashboard/hooks/useDashboard.tsx
  client/src/features/dashboard/hooks/useSearchBar.tsx
  client/src/features/home/components/ContainerIcons/ContainerIcons.classes.ts
  client/src/features/home/components/ContainerIcons/ContainerIcons.style.tsx
  client/src/features/home/components/ContainerIcons/ContainerIcons.tsx
  client/src/features/home/components/DropZone/DropZone.classes.ts
  client/src/features/home/components/DropZone/DropZone.style.tsx
  client/src/features/home/components/DropZone/DropZone.tsx
  client/src/features/home/hooks/useHome.tsx
  client/src/features/upload/components/FileList.classes.ts
  client/src/features/upload/components/FileList.style.tsx
  client/src/features/upload/components/FileList.tsx
  client/src/features/upload/hooks/useUpload.tsx
Due: eslint --cache --fix, prettier --write

refactor: update imports to use 'react-router-dom' and improve type definitions
  client/src/app/Layouts/RouteManager.tsx
  client/src/app/Layouts/main.tsx
  client/src/main.tsx
  client/src/types/store/features/GlobalSlice.d.ts
  client/src/vite-env.d.ts
Due: eslint --cache --fix, prettier --write

feat: add TypeScript definitions for Vite and enhance React-Redux types
  client/src/vite-env.d.ts
Due: eslint --cache --fix, prettier --write

refactor: update DevTools and ViewPanels components to use new separator and group structure, enhancing layout and functionality
  client/src/core/components/DevTools/DevTools.classes.ts
  client/src/core/components/DevTools/DevTools.style.tsx
  client/src/core/components/DevTools/DevTools.tsx
  client/src/core/components/ViewPanels/ViewPanels.classes.ts
  client/src/core/components/ViewPanels/ViewPanels.style.tsx
  client/src/core/components/ViewPanels/ViewPanels.tsx
  client/src/core/hooks/DevTools/useDevTools.tsx
  client/src/core/hooks/useViewPanels.tsx
  client/src/styles/globals.css
Due: eslint --cache --fix, prettier --write

refactor: replace memoized components with direct exports for improved readability and consistency
  client/src/core/components/DevTools/DevTools.tsx
  client/src/core/components/DevTools/InfoComponent/InfoComponent.tsx
  client/src/core/components/DevTools/Playground/Playground.tsx
Due: eslint --cache --fix, prettier --write

feat: add codingame-onig-wasm-web-fix plugin and update Vite configuration for improved WASM handling
  client/plugins/codingame-onig-wasm-web-fix.ts
  client/src/assets/vs/userConfiguration/keybindings.json
  client/src/core/utils/vs/Editor/createEditor.ts
  client/src/core/utils/vs/Editor/extensions/init.ts
  client/src/services/vscode/index.ts
  client/src/workers/loader.ts
  client/vite.config.ts
Due: eslint --cache --fix, prettier --write

fix: correct typo in initConfiguration for click to open DevTools
  client/src/__tests__/setup.ts
Due: eslint --cache --fix, prettier --write

feat: add IconSuccess component and integrate into data display customizations
  client/src/assets/icons/indicators/success.tsx
  client/src/styles/theme/Customizations/dataDisplay.tsx
Due: eslint --cache --fix, prettier --write

fix: streamline base URL construction in theme activation function
  client/src/core/utils/vs/Editor/extensions/theme.ts
Due: eslint --cache --fix, prettier --write

feat: add optional style.css support in manifest and update CSS link generation
  src/types/views/WebviewContent.d.ts
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

fix: add disableCursor prop to Group component in DevTools for better interaction handling
  client/src/core/components/DevTools/DevTools.tsx
Due: eslint --cache --fix, prettier --write

refactor: remove commented-out styles for separatorDisabled in DevTools
  client/src/core/components/DevTools/DevTools.style.tsx
Due: eslint --cache --fix, prettier --write

fix: add Vite ignore comment to base URL construction in theme activation function
  client/src/core/utils/vs/Editor/extensions/theme.ts
Due: eslint --cache --fix, prettier --write

fix: update keybindings configuration and dispose find widget in editor
  .vscode/settings.json
  client/src/assets/vs/userConfiguration/keybindings.json
  client/src/core/utils/vs/Editor/createEditor.ts
Due: eslint --cache --fix, prettier --write
