Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

feat: add express-rate-limit middleware to enhance request handling
  server/deno.json
  server/src/app.ts
Due: eslint --cache --fix, prettier --write

fix: update jQuery version to 3.7.1 for improved performance and security
  server/src/views/404.html
Due: none

refactor: remove unused saveResponseFile function call from processFiles
  src/utilities/files/processFiles.ts
Due: eslint --cache --fix, prettier --write

chore: update changelog for version 4.0.1; enhance development environment and fix bugs
  CHANGELOG.md
Due: prettier --write

chore: update last scan date in workspace settings
  README.md
  workspaceTest.code-workspace
Due: prettier --write

chore: update version to 4.0.1 in package.json and package-lock.json
  client/package-lock.json
  client/package.json
Due: prettier --write

fix: update image and video sources to use raw GitHub URLs for better accessibility
  README.md
  client/README.md
Due: prettier --write

chore: update package.json and package-lock.json for version 4.0.1
  client/package-lock.json
  client/package.json
  client/src/app/Layouts/RouteManager.tsx
  client/src/app/Layouts/main.tsx
  client/src/modules/upload/hooks/useUpload.tsx
  client/src/types/store/features/GlobalSlice.d.ts
Due: eslint --cache --fix, prettier --write

refactor: update IconsController methods to use async/await and improve workspace folder checks chore: comment out workspaceUri and extension activation logic in vscode.ts for debugging
  server/src/controllers/icons.controller.ts
  server/src/types.d.ts
  server/src/vscode.ts
Due: eslint --cache --fix, prettier --write

refactor: update various components and types for improved consistency and readability
  client/eslint.config.mjs
  client/src/assets/icons/functionalities.tsx
  client/src/config/provider.tsx
  client/src/core/components/Accordion/AccordionMenuItem/AccordionMenuItem.tsx
  client/src/core/components/DevTools/InfoComponent/InfoComponent.tsx
  client/src/core/helpers/Show.tsx
  client/src/core/types/components/vs/ColorPicker.d.ts
  client/src/core/types/components/vs/Editor.d.ts
  client/src/i18n/index.ts
  client/src/modules/dashboard/components/ContainerComponents/ContainerComponents.tsx
  client/src/modules/upload/hooks/useUpload.tsx
  client/src/providers/Configuration.tsx
  client/src/providers/Snackbar.tsx
  client/src/services/vscode/VSCodeInternal.ts
  client/src/services/vscode/index.ts
  client/src/types/BaseProps.d.ts
  client/src/types/ViewExportsSVG.d.ts
  client/src/types/store/features/GlobalSlice.d.ts
  client/src/types/store/features/PlaygroundSlice.d.ts
  client/src/types/store/features/SvgSlice.d.ts
  client/src/vite-env.d.ts
Due: eslint --cache --fix, prettier --write

chore: update eslint-plugin-react-hooks to version 6.1.1 for improved compatibility
  client/package-lock.json
  client/package.json
Due: prettier --write

chore: update i18next and react-i18next to versions 25.6.0 and 16.0.1 for improved functionality
  client/package-lock.json
  client/package.json
Due: prettier --write

chore: update @vscode/test-cli to version 0.0.12
  eslint.config.mjs
  package-lock.json
  package.json
  src/commands/reloadTheme.ts
  src/controllers/handlers/AssetsHandler.ts
  src/controllers/handlers/ConfigurationHandler.ts
  src/controllers/handlers/SVGComponentHandler.ts
  src/types/ViewExportsSVG.d.ts
  src/types/svg/SVGComponent.d.ts
  src/types/svg/extracts.d.ts
  src/types/views/PostMessage.d.ts
  src/types/views/ReceiveMessage.d.ts
  src/types/vscode.d.ts
  src/utilities/files/groupIconsByPattern.ts
  src/utilities/files/processFiles.ts
  src/utilities/icons/getIconsFromCache.ts
  src/utilities/properties/propertyManager.ts
  src/utilities/svg/SVGComponent.ts
  src/utilities/vscode/config.ts
  src/utilities/vscode/extensions/theme.ts
  src/utilities/vscode/index.ts
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

refactor: reorganize utility imports and enhance file structure for clarity
  src/commands/scanning.ts
  src/commands/showMenu.ts
  src/controllers/cache/ComponentsCacheController.ts
  src/controllers/config/AssetsPathsController.ts
  src/controllers/handlers/AssetsHandler.ts
  src/controllers/handlers/ConfigurationHandler.ts
  src/controllers/handlers/SVGComponentHandler.ts
  src/controllers/handlers/UIHandler.ts
  src/test/suite/utilities/files/scanning.test.ts
  src/types/vscode.d.ts
  src/utilities/files/index.ts
  src/utilities/files/processFiles.ts
  src/utilities/icons/getIconsFromCache.ts
  src/utilities/properties/index.ts
  src/utilities/svg/SVGComponent.ts
  src/utilities/svg/analyze.ts
  src/utilities/svg/children.ts
  src/utilities/svg/extracts.ts
  src/utilities/svg/index.ts
  src/utilities/svg/playground.ts
  src/utilities/vscode/config.ts
  src/utilities/vscode/extensions/index.ts
  src/utilities/vscode/extensions/theme.ts
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

chore: update last scan date in workspace settings
  workspaceTest.code-workspace
Due: none

docs: add README for VSCode Extension Dev Server with setup and usage instructions
  server/README.md
Due: prettier --write

feat: add prepare-readme script to manage README video URL updates and restore functionality
  .vscodeignore
  README.md
  client/README.md
  eslint.config.mjs
  package.json
  prepare-readme.js
Due: prettier --write

feat: add error handling messages for VSCode API wrapper in multiple languages
  client/i18n.schema.json
  client/src/i18n/locales/cs.json
  client/src/i18n/locales/de.json
  client/src/i18n/locales/en.json
  client/src/i18n/locales/es.json
  client/src/i18n/locales/fr.json
  client/src/i18n/locales/it.json
  client/src/i18n/locales/ja.json
  client/src/i18n/locales/ko.json
  client/src/i18n/locales/pl.json
  client/src/i18n/locales/pt-br.json
  client/src/i18n/locales/ru.json
  client/src/i18n/locales/tr.json
  client/src/i18n/locales/zh-cn.json
  client/src/i18n/locales/zh-tw.json
  client/src/services/vscode/index.ts
Due: eslint --cache --fix, prettier --write

chore: bump version to 4.0.2 in package.json and package-lock.json
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
Due: prettier --write

Potential fix for code scanning alert no. 6: Incomplete regular expression for hostnames
  prepare-readme.js
Due: none

chore: update last scan date in workspace settings and enhance changelog for version 4.0.2
  CHANGELOG.md
  workspaceTest.code-workspace
Due: prettier --write

chore: update .vscodeignore to include docs directory
  .vscodeignore
Due: none

chore: update koa version to 3.1.1 in package-lock.json
  package-lock.json
Due: prettier --write

chore: update vitest and vite dependencies to latest versions
  client/package-lock.json
  client/package.json
Due: prettier --write

chore: update globals and minimatch dependencies to latest versions
  package-lock.json
Due: prettier --write

refactor: improve key handling and rename click away handler in SelectPickerColor
  client/src/core/components/Select/SelectPickerColor/SelectPickerColor.tsx
  client/src/core/hooks/useSelectPickerColor.tsx
Due: eslint --cache --fix, prettier --write

style: enhance main layout and adjust margin for content panels
  docs/src/styles/global.css
Due: prettier --write

Enhance Shortcut component styles: add inline-flex display and remove text decoration from abbr elements
  docs/public/favicon.svg
  docs/src/components/Shortcut.astro
Due: none

Implement code changes to enhance functionality and improve performance
  docs/astro.config.mjs
  docs/public/favicon.ico
  docs/public/favicon.svg
Due: none

style: add icons to Key Features cards for improved visual consistency
  docs/src/content/docs/index.mdx
Due: none

Implement code changes to enhance functionality and improve performance
  docs/public/favicon.ico
  docs/public/favicon.svg
Due: none

fix: update favicon from ICO to SVG for improved asset quality
  docs/astro.config.mjs
Due: none

fix: update defaultExpandAll.description for clarity across multiple language files
  package.nls.cs.json
  package.nls.de.json
  package.nls.es.json
  package.nls.fr.json
  package.nls.it.json
  package.nls.ja.json
  package.nls.json
  package.nls.ko.json
  package.nls.pl.json
  package.nls.pt-br.json
  package.nls.ru.json
  package.nls.tr.json
  package.nls.zh-cn.json
  package.nls.zh-tw.json
  schemas/nls.schema.json
Due: prettier --write

fix: correct spelling of toggleWordWrap in MenuTools and useMenuTools
  client/src/core/components/DevTools/Menu/MenuTools/MenuTools.tsx
  client/src/core/hooks/DevTools/useMenuTools.tsx
Due: eslint --cache --fix, prettier --write

feat: add Back to Top button component for improved navigation
  docs/src/theme/BackToTopButton/index.tsx
Due: eslint --cache --fix, prettier --write

feat: enhance Table of Contents with active link styling and new components
  docs/docs/getting-started.mdx
  docs/src/css/custom.css
  docs/src/theme/DocSidebarItem/Category/index.tsx
  docs/src/theme/DocSidebarItem/Link/index.tsx
  docs/src/theme/TOC/index.tsx
  docs/src/theme/TOC/styles.module.css
  docs/src/theme/TOCItems/Tree.tsx
Due: eslint --cache --fix, prettier --write

feat: add new layout components for documentation and improve tag display
  docs/src/theme/DocItem/Footer/index.tsx
  docs/src/theme/DocItem/Layout/index.tsx
  docs/src/theme/DocItem/Layout/styles.module.css
  docs/src/theme/DocSidebarItem/Link/index.tsx
  docs/src/theme/EditThisPage/index.tsx
  docs/src/theme/Tag/index.tsx
  docs/src/theme/TagsListInline/index.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: (any of: *.{ts,tsx}) or (any of: ./client/**/*.{ts,tsx})
  prettier --write: (any of: *.{ts,tsx,css,md,json}) or (any of: ./client/**/*.{ts,tsx,css,md,json})
