Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

refactor: implement useContextMenuSVG hook for improved context menu actions
  client/src/core/components/Cards/CardSvgRenderMemo/ContextMenu.tsx
  client/src/core/hooks/useContextMenuSVG.tsx
  client/src/core/hooks/useSVGActions.tsx
Due: eslint --cache --fix, prettier --write

refactor: streamline copy actions in useContextMenuSVG hook
  client/src/core/hooks/useContextMenuSVG.tsx
Due: eslint --cache --fix, prettier --write

feat: add URI property to SVGFile interface and update related components
  client/src/__tests__/__mocks__/components.mock.ts
  client/src/__tests__/core/components/OpenFileButton.test.tsx
  src/test/suite/utilities/files/misc.test.ts
  src/test/suite/utilities/vscode/uri.test.ts
  src/types/ViewExportsSVG.d.ts
  src/utilities/files/misc.ts
  src/utilities/icons/getIconsFromCache.ts
  src/utilities/vscode/uri.ts
  src/utilities/vscode/workspace.ts
Due: eslint --cache --fix, prettier --write

refactor: simplify getWorkspacePath function by removing try-catch block
  src/utilities/vscode/workspace.ts
Due: eslint --cache --fix, prettier --write

refactor: replace Uri with WorkspaceFolder in IconCacheController and CacheHandler, and remove unused getWorkspacePath function
  src/controllers/cache/IconCacheController.ts
  src/controllers/handlers/CacheHandler.ts
  src/utilities/files/misc.ts
  src/utilities/icons/getIconsFromCache.ts
  src/utilities/svg/extracts.ts
  src/utilities/vscode/workspace.ts
Due: eslint --cache --fix, prettier --write

feat: add "CopyCodeSnippet" action and localizations for multiple languages
  .vscode/settings.json
  client/i18n.schema.json
  client/src/core/hooks/useContextMenuSVG.tsx
  client/src/i18n/locales/cs.json
  client/src/i18n/locales/de.json
  client/src/i18n/locales/en.json
  client/src/i18n/locales/es.json
  client/src/i18n/locales/fr.json
  client/src/i18n/locales/it.json
  client/src/i18n/locales/ja.json
  client/src/i18n/locales/ko.json
  client/src/i18n/locales/pl.json
  client/src/i18n/locales/pt-br.json
  client/src/i18n/locales/ru.json
  client/src/i18n/locales/tr.json
  client/src/i18n/locales/zh-cn.json
  client/src/i18n/locales/zh-tw.json
Due: eslint --cache --fix, prettier --write

refactor: remove unused export for 'workspace' from index.ts
  src/utilities/vscode/index.ts
Due: eslint --cache --fix, prettier --write

fix: update open-in-browser script to include folder example variable
  package.json
Due: prettier --write

fix: update zod dependency version to ^4.0.17
  client/package-lock.json
  client/package.json
Due: prettier --write

feat: update ESLint configuration and improve import statements
  eslint.config.mjs
  package-lock.json
  package.json
  src/controllers/cache/CacheManagerController.ts
  src/controllers/cache/ComponentsCacheController.ts
  src/controllers/cache/IconCacheController.ts
  src/controllers/config/AssetsPathsController.ts
  src/controllers/config/DefaultIconPropertiesController.ts
  src/controllers/config/IgnoreDirectoriesController.ts
  src/controllers/config/LastScanDateController.ts
  src/controllers/handlers/AssetsHandler.ts
  src/controllers/handlers/CacheHandler.ts
  src/controllers/handlers/SVGComponentHandler.ts
  src/controllers/listener/ListerWebviewController.ts
  src/controllers/listener/MessageRouterController.ts
  src/controllers/views/ViewExportsSVGController.ts
  src/test/suite/utilities/files/allowedFilesInFolder.test.ts
  src/test/suite/utilities/files/misc.test.ts
  src/test/suite/utilities/vscode/uri.test.ts
  src/utilities/files/allowedFilesInFolder.ts
  src/utilities/files/groupIconsByPattern.ts
  src/utilities/files/misc.ts
  src/utilities/files/processFiles.ts
  src/utilities/files/scanning.ts
  src/utilities/icons/getIconsFromCache.ts
  src/utilities/properties/propertyValues.ts
  src/utilities/svg/SVGComponent.ts
  src/utilities/svg/analyze.ts
  src/utilities/svg/children.ts
  src/utilities/svg/extracts.ts
  src/utilities/svg/playground.ts
  src/utilities/svg/tags.ts
Due: eslint --cache --fix, prettier --write

feat: enhance editor configuration handling and update extension activation logic
  client/src/core/hooks/vs/useEditor.tsx
  client/src/core/types/components/vs/Editor.d.ts
  client/src/core/utils/vs/Editor/createEditor.ts
  client/src/core/utils/vs/Editor/extensions/init.ts
  client/src/core/utils/vs/Editor/extensions/theme.ts
Due: eslint --cache --fix, prettier --write

refactor: update ViewExportsSVGController to use ExtensionContext instead of extensionUri
  src/commands/scanning.ts
  src/commands/showMenu.ts
  src/controllers/views/ViewExportsSVGController.ts
  src/utilities/vscode/extensions/theme.ts
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

fix: add early return for null recentlySelected in InfoComponent
  client/src/core/components/DevTools/InfoComponent/InfoComponent.tsx
Due: eslint --cache --fix, prettier --write

chore: update @codingame/monaco-vscode dependencies to version 20.3.0
  client/package-lock.json
  client/package.json
Due: prettier --write

feat: add isValid property to ExtensionManage and update theme initialization logic
  client/src/core/utils/vs/Editor/extensions/theme.ts
  src/types/vscode.d.ts
  src/utilities/vscode/extensions/theme.ts
Due: eslint --cache --fix, prettier --write

fix: update temporary file labels in DialogInfoModal to use consistent label references
  client/src/core/components/modals/DialogInfoModal.tsx
Due: eslint --cache --fix, prettier --write

feat: add framer-motion support to RenderSvg component and update package dependencies
  client/package-lock.json
  client/package.json
  client/src/core/components/SVG/RenderSvg/RenderSvg.tsx
Due: eslint --cache --fix, prettier --write

feat: add isAnimated property to SVG components and implement animation detection logic
  client/src/__tests__/__mocks__/components.mock.ts
  src/constants/svg/tags.ts
  src/types/ViewExportsSVG.d.ts
  src/types/svg/SVGComponent.d.ts
  src/types/svg/is-animate.d.ts
  src/utilities/css/findAnimateClassesStyles.ts
  src/utilities/svg/SVGComponent.ts
  src/utilities/svg/children.ts
  src/utilities/svg/is-animate.ts
Due: eslint --cache --fix, prettier --write

fix: update last scan date in workspace settings
  workspaceTest.code-workspace
Due: none

feat: enhance SVG component validation and error handling; add new error messages for empty elements
  CHANGELOG.md
  client/.vscode/settings.json
  l10n/bundle.l10n.cs.json
  l10n/bundle.l10n.de.json
  l10n/bundle.l10n.es.json
  l10n/bundle.l10n.fr.json
  l10n/bundle.l10n.it.json
  l10n/bundle.l10n.ja.json
  l10n/bundle.l10n.json
  l10n/bundle.l10n.ko.json
  l10n/bundle.l10n.pl.json
  l10n/bundle.l10n.pt-br.json
  l10n/bundle.l10n.ru.json
  l10n/bundle.l10n.tr.json
  l10n/bundle.l10n.zh-cn.json
  l10n/bundle.l10n.zh-tw.json
  schemas/l10n.schema.json
  src/types/svg/SVGComponent.d.ts
  src/utilities/properties/propertyManager.ts
  src/utilities/svg/SVGComponent.ts
  src/utilities/svg/children.ts
  src/utilities/svg/extracts.ts
Due: eslint --cache --fix, prettier --write

fix: update file URI handling in openFile function to ensure correct parsing and authority
  src/utilities/files/misc.ts
Due: eslint --cache --fix, prettier --write

fix: streamline getFileTimestamp and getLanguageFromFile functions to return values directly and standardize fallback language
  src/utilities/files/misc.ts
Due: eslint --cache --fix, prettier --write

fix: add cursor pointer style to anchor elements for better UX
  client/src/styles/globals.css
Due: prettier --write

fix: prevent default behavior for command links in click event handler
  client/src/main.tsx
Due: eslint --cache --fix, prettier --write

fix: update key prop in RenderSvg and ListItem components to use file URI for consistency
  client/src/core/components/DevTools/Playground/PlaygroundCardSvg/PlaygroundCardSvg.tsx
  client/src/core/components/modals/DialogFilesModal.tsx
Due: eslint --cache --fix, prettier --write

fix: update file handling to use URI instead of absolute path for consistency across components
  src/controllers/cache/ComponentsCacheController.ts
  src/controllers/cache/IconCacheController.ts
  src/controllers/handlers/SVGComponentHandler.ts
  src/controllers/handlers/UIHandler.ts
  src/extension.ts
  src/providers/InMemoryFileSystemProvider.ts
  src/test/suite/utilities/files/misc.test.ts
  src/utilities/files/misc.ts
  src/utilities/files/processFiles.ts
  src/utilities/icons/getIconsFromCache.ts
  src/utilities/svg/playground.ts
  src/utilities/vscode/uri.ts
Due: eslint --cache --fix, prettier --write

fix: refactor pathToSVGFile to streamline URI handling and improve path resolution logic fix: enhance getUriPath to support web UIKind in URI string representation
  src/utilities/files/misc.ts
  src/utilities/vscode/uri.ts
Due: eslint --cache --fix, prettier --write

fix: update pathToSVGFile utility to use URI for file path handling
  src/test/suite/utilities/files/misc.test.ts
Due: eslint --cache --fix, prettier --write

fix: update activation events and improve prepublish script in package.json
  package.json
  workspaceTest.code-workspace
Due: prettier --write

fix: update CodeQL workflow for advanced analysis and improve language matrix configuration
  .github/workflows/codeql.yml
Due: none

chore: remove console.log checker workflow
  .github/workflows/console-log-check.yml
Due: none

Update video source link in README
  README.md
Due: prettier --write

Potential fix for code scanning alert no. 3: Unvalidated dynamic method call
  client/src/services/vscode/index.ts
Due: eslint --cache --fix, prettier --write

fix: update video source links in README
  client/README.md
Due: prettier --write

fix: update expected timestamp in getFileTimestamp test
  src/test/suite/utilities/files/misc.test.ts
Due: eslint --cache --fix, prettier --write

fix: remove markdown link formatting from git clone command in README
  README.md
Due: prettier --write

Update README with DeepWiki badge and links
  README.md
Due: prettier --write

fix: prevent duplicate suggestions in completion items
  client/src/core/utils/DevTools/completionComponentsManager.ts
Due: eslint --cache --fix, prettier --write

chore: update dependencies and version; improve nonce generation and SVG processing
  client/eslint.config.mjs
  client/package-lock.json
  client/package.json
  client/src/core/utils/DevTools/completionPropertiesManager.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/utilities/files/nonce.ts
  src/utilities/files/processFiles.ts
  src/utilities/icons/getIconsFromCache.ts
  src/utilities/svg/SVGComponent.ts
  src/utilities/svg/is-animate.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,md,json}
