Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,md,json}": "prettier --write"
}

refactor: Update useAlert hook and SnackbarProvider component
  client/src/hooks/useAlert.tsx
  client/src/providers/custom/Snackbar.tsx
Due: eslint --cache --fix, prettier --write

refactor: Remove unused 'isValid' property in GetSVGComponent interface
  src/interfaces/svg/SVGComponent.d.ts
  src/utilities/svg/SVGComponent.ts
Due: eslint --cache --fix, prettier --write

refactor: Update hover background color in useCustomTheme hook
  client/src/providers/theme/theme.tsx
Due: eslint --cache --fix, prettier --write

refactor: Update useAlert hook to open and close alerts
  client/src/hooks/useAlert.tsx
  client/src/interfaces/redux/featureGlobal.d.ts
  client/src/providers/custom/Snackbar.tsx
  client/src/providers/redux/features/GlobalSlice.ts
Due: eslint --cache --fix, prettier --write

refactor: Update JSON schema for i18n in View Exports SVG extension
  .vscode/settings.json
  client/i18n.schema.json
Due: prettier --write

refactor: Add copyToClipboard and getUnknownError functions to misc.ts
  client/src/utils/misc.ts
Due: eslint --cache --fix, prettier --write

refactor: Update i18n schema and en.json for copy and copyToClipboard labels
  client/i18n.schema.json
  client/src/i18n/en.json
Due: prettier --write

refactor: Update CardSvg component to enable copying title to clipboard
  client/src/components/Cards/CardSvg.tsx
  client/src/i18n/en.json
  client/src/i18n/index.ts
Due: eslint --cache --fix, prettier --write

refactor: Add new icons for error, info, and warning indicators
  client/src/assets/icons/indicators.tsx
  client/src/providers/theme/theme.tsx
Due: eslint --cache --fix, prettier --write

refactor: Update severity to 'success' when copying title to clipboard in CardSvg component
  client/src/components/Cards/CardSvg.tsx
Due: eslint --cache --fix, prettier --write

refactor: Add elevation to SnackbarAlert component in Snackbar.tsx
  client/src/providers/custom/Snackbar.tsx
Due: eslint --cache --fix, prettier --write

refactor: Update path-to-regexp package to version 6.3.0
  package-lock.json
Due: prettier --write

refactor: Update i18n schema and add LoadingPage component
  client/i18n.schema.json
  client/src/app/Layouts/index.tsx
  client/src/components/Custom/LoadingPage.tsx
  client/src/components/Loadings/LoadingSuspense/index.tsx
  client/src/components/Loadings/index.ts
  client/src/i18n/en.json
  client/src/providers/theme/theme.tsx
Due: eslint --cache --fix, prettier --write

refactor: Update i18n schema and add LoadingPage component
  client/i18n.schema.json
  client/src/app/Home/index.tsx
  client/src/hooks/pages/useHome.tsx
  client/src/i18n/en.json
  client/src/interfaces/ViewExportsSVG.d.ts
  src/commands/showMenu.ts
  src/enum/ViewExportsSVG.ts
  src/interfaces/views/ViewExportsSVGPanel.d.ts
  src/views/ViewExportsSVGPanel.ts
Due: eslint --cache --fix, prettier --write

refactor: Update CardSvg component styles
  client/src/components/Cards/CardSvg.tsx
Due: eslint --cache --fix, prettier --write

refactor: Update DEFAULT_ICON_PROPERTIES in misc.ts and DefaultIconProperties.ts
  src/constants/misc.ts
  src/utilities/config/DefaultIconProperties.ts
Due: eslint --cache --fix, prettier --write

refactor: Update ignoreDirectories in IgnoreDirectories.ts and allowedFilesInFolder.ts
  package.json
  src/utilities/config/IgnoreDirectories.ts
  src/utilities/files/allowedFilesInFolder.ts
Due: eslint --cache --fix, prettier --write

refactor: Update ignoreDirectories and allowedFilesInFolder patterns
  src/constants/misc.ts
  src/utilities/files/allowedFilesInFolder.ts
  src/utilities/misc.ts
Due: eslint --cache --fix, prettier --write

refactor: Update ignoreDirectories pattern in package.json
  package-lock.json
  package.json
Due: prettier --write

Refactor SVG icons and update workspace settings
  src/test/assets/dist/test-1.js
  src/test/assets/test-1.js
  src/test/assets/test-2.tsx
  workspaceTest.code-workspace
Due: eslint --cache --fix, prettier --write

feat: Implement folder grouping for SVG exports and support pattern paths for asset configuration
  client/src/components/ContainerComponents/index.tsx
  package.json
  src/interfaces/ViewExportsSVG.d.ts
  src/utilities/config/GroupPatterns.ts
  src/utilities/files/groupIconsByPattern.ts
  src/utilities/files/processFiles.ts
Due: eslint --cache --fix, prettier --write

Refactor SVG tags to handle null name values
  src/utilities/svg/tags.ts
Due: eslint --cache --fix, prettier --write

Refactor getPropertyValues function to handle JSX elements in ConditionalExpression
  src/utilities/properties/propertyValues.ts
Due: eslint --cache --fix, prettier --write

add: Support is implemented for reading the content of tags such as
  client/src/components/SVG/RenderSvg.tsx
  src/constants/svgTags.ts
  src/interfaces/ViewExportsSVG.d.ts
  src/interfaces/svg/SVGComponent.d.ts
  src/interfaces/svg/tags.d.ts
  src/utilities/svg/SVGComponent.ts
  src/utilities/svg/children.ts
Due: eslint --cache --fix, prettier --write

Refactor SVG SUPPORT.md to update supported SVG tags
  SVG SUPPORT.md
Due: prettier --write

Refactor file paths for CSS-related utilities
  client/package-lock.json
  src/utilities/css/cssStringToObject.ts
  src/utilities/properties/getProperties.ts
Due: eslint --cache --fix, prettier --write

Update picocolors package to version 1.1.0 Refactor SVG children.ts to use value instead of getPropertyValues
  package-lock.json
  src/utilities/svg/children.ts
Due: eslint --cache --fix, prettier --write

Refactor SVGPlayground interface to SVGIcon
  src/interfaces/ViewExportsSVG.d.ts
Due: eslint --cache --fix, prettier --write

Refactor cache module and add CacheManager
  i18n.schema.json
  src/extension.ts
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pl.json
  src/i18n/pt-br.json
  src/i18n/pt-pt.json
  src/i18n/ru.json
  src/i18n/zh-cn.json
  src/i18n/zh-tw.json
  src/interfaces/i18n.d.ts
  src/utilities/cache/CacheManager.ts
  src/utilities/cache/GlobalsFileCache.ts
  src/utilities/cache/fileModifiedCache.ts
  src/utilities/cache/index.ts
  src/utilities/files/processFiles.ts
  src/utilities/svg/playground.ts
Due: eslint --cache --fix, prettier --write

Refactor fileModifiedCache to add clear method
  src/utilities/cache/fileModifiedCache.ts
Due: eslint --cache --fix, prettier --write

Update i18n schema and translations
  i18n.schema.json
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pl.json
  src/i18n/pt-br.json
  src/i18n/pt-pt.json
  src/i18n/ru.json
  src/i18n/zh-cn.json
  src/i18n/zh-tw.json
  src/interfaces/i18n.d.ts
Due: eslint --cache --fix, prettier --write

Add CacheIconKind enum and SVGIconCache interface
  src/enum/cache.ts
  src/interfaces/cache.d.ts
Due: eslint --cache --fix, prettier --write

Add IconCache class for caching SVG icons
  src/utilities/cache/IconCache.ts
Due: eslint --cache --fix, prettier --write

Refactor CacheManager and add icon caching functionality
  src/utilities/cache/CacheManager.ts
Due: eslint --cache --fix, prettier --write

Refactor SVG tags import paths
  src/constants/svg/tags.ts
  src/utilities/svg/tags.ts
  src/views/ViewExportsSVGPanel.ts
Due: eslint --cache --fix, prettier --write

Remove unused languageFiles constant
  src/constants/languageFiles.ts
Due: eslint --cache --fix, prettier --write

Remove unused language files for zh-cn, zh-tw, ko, ja, en, ru, pt-br, pt-pt, and pl
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/fr.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pl.json
  src/i18n/pt-br.json
  src/i18n/pt-pt.json
  src/i18n/ru.json
  src/i18n/zh-cn.json
  src/i18n/zh-tw.json
Due: prettier --write

Add localization support for the extension
  package-lock.json
  package.json
  package.nls.json
Due: prettier --write

Refactor .vscodeignore to include client/build directory
  .vscodeignore
Due: none

Changes in the internationalization of the extension, implementation in native vscode form
  l10n/bundle.l10n.json
  src/extension.ts
  src/interfaces/i18n.d.ts
  src/test/suite/utilities/vscode/language.test.ts
  src/utilities/cache/BaseCache.ts
  src/utilities/cache/CacheManager.ts
  src/utilities/cache/IconCache.ts
  src/utilities/cache/fileModifiedCache.ts
  src/utilities/cache/index.ts
  src/utilities/config/AssetsPaths.ts
  src/utilities/config/index.ts
  src/utilities/files/allowedFilesInFolder.ts
  src/utilities/files/groupIconsByPattern.ts
  src/utilities/files/index.ts
  src/utilities/files/misc.ts
  src/utilities/files/processFiles.ts
  src/utilities/files/saveResponseFiles.ts
  src/utilities/files/scanning.ts
  src/utilities/misc.ts
  src/utilities/properties/propertyValues.ts
  src/utilities/svg/SVGComponent.ts
  src/utilities/svg/children.ts
  src/utilities/svg/extracts.ts
  src/utilities/svg/filtered.ts
  src/utilities/svg/index.ts
  src/utilities/svg/playground.ts
  src/utilities/vscode/index.ts
  src/utilities/vscode/language.ts
  src/views/ViewExportsSVGPanel.ts
Due: eslint --cache --fix, prettier --write
