Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,md,json}": "prettier --write",
  "./client/**/*.{ts,tsx}": "eslint --cache --fix",
  "./client/**/*.{ts,tsx,css,md,json}": "prettier --write"
}

feat: add DocBreadcrumbs component with Heroui breadcrumbs integration
  docs/package-lock.json
  docs/package.json
  docs/src/theme/DocBreadcrumbs/index.tsx
Due: eslint --cache --fix, prettier --write

feat: update TOC and sidebar item components for improved accessibility and styling
  docs/src/theme/DocSidebarItem/Link/index.tsx
  docs/src/theme/TOC/index.tsx
  docs/src/theme/TOCItems/Tree.tsx
Due: eslint --cache --fix, prettier --write

feat: add TOCCollapsible component with collapsible functionality and styling
  docs/src/theme/TOCCollapsible/CollapseButton/index.tsx
  docs/src/theme/TOCCollapsible/index.tsx
Due: eslint --cache --fix, prettier --write

feat: adjust z-index values for Navbar and TOC components for improved layering
  docs/src/theme/BackToTopButton/index.tsx
  docs/src/theme/DocSidebarItem/Category/index.tsx
  docs/src/theme/DocSidebarItem/Link/index.tsx
  docs/src/theme/Navbar/Content/index.tsx
  docs/src/theme/Navbar/Layout/index.tsx
  docs/src/theme/Navbar/MobileSidebar/SecondaryMenu/index.tsx
  docs/src/theme/Navbar/MobileSidebar/index.tsx
  docs/src/theme/TOCCollapsible/index.tsx
Due: eslint --cache --fix, prettier --write

feat: add padding-top to sidebarViewport for consistent layout
  docs/src/theme/DocRoot/Layout/Sidebar/styles.module.css
Due: prettier --write

feat: enhance CodeBlock components with new layout and styling for improved usability
  docs/src/constants/getting-started.tsx
  docs/src/theme/CodeBlock/Content/Element.tsx
  docs/src/theme/CodeBlock/Content/String.tsx
  docs/src/theme/CodeBlock/Content/index.tsx
  docs/src/theme/CodeBlock/Content/styles.module.css
  docs/src/theme/CodeBlock/Layout/index.tsx
  docs/src/theme/CodeBlock/Layout/styles.module.css
  docs/src/theme/CodeInline/index.tsx
Due: eslint --cache --fix, prettier --write

feat: update lucide-react to version 0.562.0 for improved features and performance
  docs/package-lock.json
  docs/package.json
Due: prettier --write

feat: update last scan date in workspace settings for accuracy
  workspaceTest.code-workspace
Due: none

feat: implement SSR fallback for collapsible categories and enhance link handling
  docs/src/theme/DocSidebarItem/Category/index.tsx
Due: eslint --cache --fix, prettier --write

feat: enhance styling of collapsible category links for improved visibility
  docs/src/theme/DocSidebarItem/Category/index.tsx
Due: eslint --cache --fix, prettier --write

feat: add introductory documentation for View Exports SVG, outlining its features and benefits
  docs/docs/intro/overview.mdx
  docs/docs/intro/why-use-it.mdx
  docs/docs/intro/why-view-exports-svg.mdx
Due: none

feat: reorganize sidebar structure and enhance collapsible category behavior
  docs/sidebars.ts
  docs/src/theme/DocSidebarItem/Category/index.tsx
Due: eslint --cache --fix, prettier --write

feat: add getting started guide, installation instructions, and first SVG usage documentation
  docs/docs/getting-started/index.mdx
  docs/docs/getting-started/installation.mdx
  docs/docs/getting-started/your-first-svg.mdx
  docs/docs/resources/features.mdx
  docs/sidebars.ts
  docs/src/constants/getting-started.tsx
Due: eslint --cache --fix, prettier --write

feat: add changelog plugin and utility functions for managing changelog entries
  docs/changelog/source/.gitignore
  docs/docusaurus.config.ts
  docs/src/plugins/changelog/index.ts
  docs/src/plugins/changelog/utils.ts
Due: eslint --cache --fix, prettier --write

feat: implement BlogLayout component with sidebar functionality and responsive design
  docs/src/theme/BlogLayout/index.tsx
Due: eslint --cache --fix, prettier --write

feat: add edit URL for changelog entries and include start line in changelog entry structure
  docs/docusaurus.config.ts
  docs/src/plugins/changelog/index.ts
  docs/src/plugins/changelog/utils.ts
Due: eslint --cache --fix, prettier --write

feat: enhance blog layout with new footer and read more link components
  docs/src/plugins/changelog/index.ts
  docs/src/theme/BlogLayout/index.tsx
  docs/src/theme/BlogPostItem/Footer/ReadMoreLink/index.tsx
  docs/src/theme/BlogPostItem/Footer/index.tsx
  docs/src/theme/BlogPostItem/index.tsx
  docs/src/theme/BlogPostItems/index.tsx
Due: eslint --cache --fix, prettier --write

feat: update getting started guide with improved context menu instructions and command palette usage
  docs/docs/getting-started/your-first-svg.mdx
  docs/docs/guides/usage.mdx
  docs/src/constants/getting-started.tsx
Due: eslint --cache --fix, prettier --write

feat: update usage guide with detailed core workflow and interaction steps; remove outdated screenshots
  docs/docs/guides/usage.mdx
  docs/static/screens/command-palette.webm
  docs/static/screens/context-menu-in-editor.webp
  docs/static/screens/context-menu-in-explorer.webp
Due: none

feat: enhance DevTools panel documentation with improved structure and clarity; add location access details
  docs/docs/guides/devtools.mdx
Due: none

feat: refine documentation for overview and usage sections; enhance clarity and structure of SVG component management details
  docs/docs/intro/overview.mdx
  docs/docs/intro/why-use-it.mdx
  docs/docs/intro/why-view-exports-svg.mdx
Due: none

feat: enhance documentation with release history and feature history sections; improve clarity and structure of feature descriptions
  docs/docs/intro/overview.mdx
  docs/docs/resources/features.mdx
Due: none

feat: add Blockquote component for enhanced text formatting in MDX
  docs/src/theme/MDXComponents/Blockquote.tsx
  docs/src/theme/MDXComponents/index.tsx
Due: eslint --cache --fix, prettier --write

feat: update Blockquote component styles for improved appearance and consistency
  docs/src/theme/MDXComponents/Blockquote.tsx
Due: eslint --cache --fix, prettier --write

feat: remove title attribute from CopyButton for improved accessibility
  docs/src/theme/CodeBlock/Buttons/CopyButton/index.tsx
Due: eslint --cache --fix, prettier --write

feat: refactor next steps navigation to use NextStepList component for improved structure and maintainability
  docs/docs/getting-started/installation.mdx
  docs/docs/getting-started/your-first-svg.mdx
  docs/docs/guides/devtools.mdx
  docs/docs/guides/usage.mdx
  docs/src/components/NextStepList.tsx
  docs/src/constants/next-steps.ts
Due: eslint --cache --fix, prettier --write

feat: enhance documentation with new FAQ, Settings, and Troubleshooting guides; update existing guides for improved clarity and navigation
  docs/docs/getting-started/your-first-svg.mdx
  docs/docs/guides/faq.mdx
  docs/docs/guides/settings.mdx
  docs/docs/guides/troubleshooting.mdx
  docs/docs/guides/usage.mdx
  docs/docs/resources/svg-support.mdx
  docs/sidebars.ts
  docs/src/constants/next-steps.ts
  docs/src/theme/MDXComponents/A/index.tsx
Due: eslint --cache --fix, prettier --write

feat: implement advanced table support with new parsing and rendering logic; replace MDXTable with AdvancedTable in MDXComponents
  docs/docs/resources/svg-support.mdx
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  docs/src/components/MDXComponents/Table.tsx
  docs/src/lib/react-childrens.ts
  docs/src/plugins/remark/table/index.ts
  docs/src/plugins/remark/table/types.d.ts
  docs/src/plugins/remark/table/utils.ts
  docs/src/theme/MDXComponents/index.tsx
Due: eslint --cache --fix, prettier --write

feat: implement advanced table support with new rehype plugin and rendering logic; refactor MDXTable to utilize HAST nodes
  docs/docs/guides/devtools.mdx
  docs/docusaurus.config.ts
  docs/src/components/MDXComponents/Table.tsx
  docs/src/lib/render-hast.ts
  docs/src/plugins/rehype/table/index.ts
  docs/src/plugins/rehype/table/types.d.ts
  docs/src/plugins/rehype/table/utils.ts
  docs/src/plugins/remark/table/types.d.ts
  docs/src/plugins/remark/table/utils.ts
Due: eslint --cache --fix, prettier --write

chore: update dependencies in package.json
  docs/package-lock.json
  docs/package.json
Due: prettier --write

feat: enhance changelog processing with new parsing functions and content formatting for Docusaurus compatibility
  docs/src/plugins/changelog/index.ts
  docs/src/plugins/changelog/utils.ts
Due: eslint --cache --fix, prettier --write

chore: update biome configuration to simplify includes and exclude unnecessary patterns
  docs/biome.json
Due: prettier --write

feat: add NotFoundContent component for 404 error page with translation support
  docs/src/theme/NotFound/Content/index.tsx
Due: eslint --cache --fix, prettier --write

fix: update search.exclude to correctly exclude .docusaurus directory
  .vscode/settings.json
Due: prettier --write

fix: update copyright text for clarity and consistency
  docs/docusaurus.config.ts
Due: eslint --cache --fix, prettier --write

feat: implement metadata parsing and lazy loading for icons in MDX components
  docs/src/theme/MDXComponents/A/index.tsx
  docs/src/theme/MDXComponents/A/utils/metadata.tsx
Due: eslint --cache --fix, prettier --write

refactor: change Blockquote export to default and implement lazy loading for MDX components
  docs/src/theme/MDXComponents/Blockquote.tsx
  docs/src/theme/MDXComponents/index.tsx
Due: eslint --cache --fix, prettier --write

feat: update FAQ link, refine Tailwind config, and enhance component loading with BrowserOnly
  docs/docs/guides/faq.mdx
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  docs/src/components/DocCard.tsx
  docs/src/css/custom.css
  docs/src/lib/prismjs/loader.ts
  docs/src/theme/ColorModeToggle/index.tsx
  docs/src/theme/MDXComponents/A/utils/metadata.tsx
  docs/src/theme/MDXComponents/Img/index.tsx
  docs/src/theme/MDXComponents/index.tsx
  docs/src/theme/NotFound/Content/index.tsx
  docs/src/theme/Root.tsx
  docs/tailwind.config.mts
Due: eslint --cache --fix, prettier --write

feat: add GitHub Actions workflow for deploying Docusaurus to GitHub Pages
  .github/workflows/docs/deploy.yml
Due: none
