Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Refactor SelectPickerColor to use initialColor prop and enhance BoxInfoPickerColor with alpha and isLight properties for improved color handling
  client/src/core/components/Select/SelectPickerColor/SelectPickerColor.tsx
  client/src/core/components/vs/ColorPicker/ColorPicker.style.tsx
  client/src/core/components/vs/ColorPicker/ColorPicker.tsx
  client/src/core/interfaces/components/Select/SelectPickerColor.d.ts
Due: eslint --cache --fix, prettier --write

Refactor Playground component to utilize usePlayground hook for state management and enhance SelectPickerColor with initialColor prop
  client/src/modules/Home/components/DevTools/Playground/Playground.tsx
  client/src/modules/Home/hooks/usePlayground.tsx
Due: eslint --cache --fix, prettier --write

Add Editor component with Monaco integration and update ESLint config
  client/eslint.config.js
  client/package-lock.json
  client/package.json
  client/src/core/components/vs/Editor/Editor.style.tsx
  client/src/core/components/vs/Editor/Editor.tsx
  client/src/core/components/vs/Editor/index.ts
  client/src/modules/Home/components/DevTools/Playground/Playground.tsx
Due: eslint --cache --fix, prettier --write

Add TypeScript type definitions for ViewExportsSVG in icons and svg controllers
  server/src/controllers/icons.controller.ts
  server/src/controllers/svg.controller.ts
Due: eslint --cache --fix, prettier --write

Add DEFAULT_FONT_FAMILY constant and update getStyles to use it as default font
  src/constants/misc.ts
  src/utilities/vscode/theme.ts
Due: eslint --cache --fix, prettier --write

Add editor configuration retrieval and update message handling for editor settings
  client/src/interfaces/ViewExportsSVG.d.ts
  src/controllers/listener/ListerWebviewController.ts
  src/enum/ViewExportsSVG.ts
  src/interfaces/views/PostMessage.d.ts
  src/interfaces/views/ReceiveMessage.d.ts
  src/utilities/vscode/config.ts
  src/utilities/vscode/index.ts
Due: eslint --cache --fix, prettier --write

Cleanup message handling by unregistering VSCode styles listener on component unmount
  client/src/providers/theme/theme.tsx
Due: eslint --cache --fix, prettier --write

Add editor configuration handling and update Playground component state management
  client/src/interfaces/redux/featureVsCode.d.ts
  client/src/modules/Home/components/DevTools/Playground/Playground.tsx
  client/src/modules/Home/hooks/usePlayground.tsx
  client/src/providers/redux/features/VsCodeSlice.ts
  server/src/app.ts
  server/src/controllers/settings.controller.ts
  server/src/routes/settings.routes.ts
Due: eslint --cache --fix, prettier --write

Add useForkRef custom hook and setRef utility function for managing multiple refs
  client/src/core/hooks/useForkRef.tsx
  client/src/core/utils/setRef.ts
Due: eslint --cache --fix, prettier --write

Refactor Editor component to use custom useEditor hook and implement worker loaders
  client/src/core/components/vs/Editor/Editor.tsx
  client/src/core/components/vs/Editor/workerLoaders.ts
  client/src/core/hooks/vs/useEditor.tsx
Due: eslint --cache --fix, prettier --write

Add esbuild-import-meta-url-plugin dependency and update editor default value
  client/package-lock.json
  client/package.json
  client/src/core/hooks/vs/useEditor.tsx
  client/vite.config.ts
Due: eslint --cache --fix, prettier --write

Add browser environment check for MonacoEnvironment initialization
  client/src/core/components/vs/Editor/workerLoaders.ts
Due: eslint --cache --fix, prettier --write

Fix JSDoc comments in useEditor hook for clarity and consistency
  client/src/core/hooks/vs/useEditor.tsx
Due: eslint --cache --fix, prettier --write

Update VSCode engine requirement to allow for versions greater than or equal to 1.80.0
  package.json
Due: prettier --write

Update VSCode engine requirement to allow for compatible versions
  package.json
Due: prettier --write

Bump version to 4.0.0-beta.1 and update @types/vscode dependency to ^1.80.0
  package-lock.json
  package.json
  workspaceTest.code-workspace
Due: prettier --write

Remove saveResponseFile call from showMenu and disable saveResponseFile in production
  src/commands/showMenu.ts
  src/utilities/files/saveResponseFiles.ts
Due: eslint --cache --fix, prettier --write

Refactor .vscodeignore to update ignored paths for output files and source code
  .vscodeignore
Due: none

Update .vscodeignore to include additional ignored files and remove saveResponseFiles test
  .vscodeignore
  src/test/suite/utilities/files/saveResponseFiles.test.ts
  workspaceTest.code-workspace
Due: eslint --cache --fix, prettier --write

Remove saveResponseFiles export from utilities index
  src/utilities/files/index.ts
Due: eslint --cache --fix, prettier --write

Add esbuild configuration and update scripts for bundling
  .eslintignore
  .vscodeignore
  esbuild.config.js
  package-lock.json
  package.json
Due: prettier --write

Refactor styled components to use direct color values instead of CSS variables
  client/src/core/components/vs/ColorPicker/ColorPicker.style.tsx
  client/src/modules/Home/components/Cards/CardSvg/CardSvg.style.tsx
  client/src/modules/Home/components/DevTools/Playground/Playground.style.tsx
Due: eslint --cache --fix, prettier --write

Refactor ColorPicker component to use onChange prop and update SelectPickerColor to initialize colors correctly
  client/src/core/components/Select/SelectPickerColor/SelectPickerColor.tsx
  client/src/core/components/vs/ColorPicker/ColorPicker.tsx
  client/src/core/hooks/vs/useColorPicker.tsx
Due: eslint --cache --fix, prettier --write

Add Visual Studio Marketplace badges to package.json
  package.json
Due: prettier --write

Update .vscodeignore to include client/dist/assets and add getter for VS Code API in VSCodeAPIWrapper
  .vscodeignore
  client/src/services/vscode.ts
Due: eslint --cache --fix, prettier --write

Update Vite configuration to optimize dependencies with esbuild options
  client/vite.config.ts
Due: eslint --cache --fix, prettier --write

Normalize doctype declaration in index.html
  client/index.html
  client/package-lock.json
Due: prettier --write

Add Vite plugins for fixing output files and renaming assets
  client/eslint.config.js
  client/plugins/fixOutputPlugin.ts
  client/plugins/renameAssets.ts
  client/vite.config.ts
Due: eslint --cache --fix, prettier --write

Refactor worker loaders to return promises and update webview assets for new worker paths
  client/src/core/components/vs/Editor/workerLoaders.ts
  src/interfaces/views/content.d.ts
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

Refactor output plugin options and improve worker loading mechanism
  client/plugins/fixOutputPlugin.ts
  client/plugins/renameAssets.ts
  client/src/core/components/vs/Editor/workerLoaders.ts
  client/src/types.d.ts
  client/vite.config.ts
  src/interfaces/views/content.d.ts
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

Update badge URLs to use PNG format and modify last scan date in workspace settings
  package.json
  workspaceTest.code-workspace
Due: prettier --write

Update dependencies in package.json to latest versions
  client/package-lock.json
  client/package.json
Due: prettier --write

Enhance command definitions with category and enablement properties in package.json
  package.json
Due: prettier --write

Refactor command titles in localization files for clarity and conciseness
  nls.schema.json
  package.nls.json
Due: prettier --write

Refactor editor component to use unique IDs and improve worker loading mechanism; update package.json with new dependencies
  client/package-lock.json
  client/package.json
  client/src/core/components/vs/Editor/Editor.tsx
  client/src/core/components/vs/Editor/loaders/workerLoaders.ts
  client/src/core/hooks/vs/useEditor.tsx
Due: eslint --cache --fix, prettier --write

Refactor Vite configuration and add file name generation utilities for improved asset management
  .vscodeignore
  client/eslint.config.js
  client/tsconfig.node.json
  client/vite.config.ts
  client/vite.generateFiles.ts
Due: eslint --cache --fix, prettier --write

Refactor webview content generation to use a dedicated WebviewContent class; update asset retrieval and manifest handling
  src/controllers/views/ViewExportsSVGController.ts
  src/interfaces/views/WebviewContent.d.ts
  src/interfaces/views/content.d.ts
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

Remove border styles from DevTools component and update text color for improved visibility
  client/src/modules/Home/components/DevTools/DevTools.style.tsx
Due: eslint --cache --fix, prettier --write

Update package dependencies to latest versions for improved stability and features
  client/package-lock.json
  client/package.json
Due: prettier --write

Refactor worker loaders for test and update import paths; comment out unused imports for cleaner code
  client/src/core/components/vs/Editor/loaders/workerLoaders.ts
  client/src/core/hooks/vs/useEditor.tsx
  client/vite.config.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,md,json}
