Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Increase chunk size warning limit in Vite configuration for better performance monitoring
  client/vite.config.ts
Due: eslint --cache --fix, prettier --write

Remove debug log from loadWorker function for cleaner code
  client/src/core/components/vs/Editor/loaders/workerLoaders.ts
Due: eslint --cache --fix, prettier --write

Add folder association for 'workers' to material icon theme in VSCode settings
  .vscode/settings.json
  client/.vscode/settings.json
Due: prettier --write

Implement Webpack configuration and worker loader integration; update ESLint config and modify package scripts
  client/eslint.config.js
  client/package-lock.json
  client/package.json
  client/src/core/components/vs/Editor/Editor.tsx
  client/src/core/components/vs/Editor/loaders/workerLoaders.ts
  client/src/core/hooks/vs/useEditor.tsx
  client/src/workers/workerLoader.ts
  client/webpack.config.js
  client/webpack.dev.js
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

Add Vite commands to package.json for improved development workflow
  client/package.json
Due: prettier --write

Refactor Webpack configuration for improved asset naming and organization
  client/webpack.config.js
Due: none

Remove unused Vite plugins for output fixing and asset renaming
  client/plugins/fixOutputPlugin.ts
  client/plugins/renameAssets.ts
Due: eslint --cache --fix, prettier --write

Add settings to trim trailing whitespace and insert final newline in VSCode
  client/.vscode/settings.json
Due: prettier --write

Update dependencies in package.json to latest versions for improved stability and features
  client/package-lock.json
  client/package.json
Due: prettier --write

Add patch-package for post-install script and update package.json
  client/package-lock.json
  client/package.json
  client/patches/@codingame+monaco-vscode-textmate-service-override+14.0.4.patch
Due: prettier --write

Add inline fallback option to Webpack worker configuration
  client/webpack.config.js
Due: none

Refactor editor initialization to use useCallback for improved performance and cleanup
  client/src/core/hooks/vs/useEditor.tsx
Due: eslint --cache --fix, prettier --write

Enhance Webpack manifest generation to categorize chunks and assets for better organization
  client/webpack.config.js
Due: none

Update build script to use production mode and simplify chunk filename generation in Webpack configuration
  client/package.json
  client/webpack.config.js
Due: prettier --write

Add terser-webpack-plugin for JavaScript minification in Webpack configuration
  client/package-lock.json
  client/package.json
  client/webpack.config.js
Due: prettier --write

Remove duplicate esbuild-import-meta-url-plugin dependency in package.json
  client/package.json
Due: prettier --write

Enhance Vite configuration with local dependency inclusion, improved build settings, and server options
  client/vite.config.ts
Due: eslint --cache --fix, prettier --write

Update TypeScript configuration to target ESNext, enhance module resolution, and improve type checking options
  client/tsconfig.app.json
Due: prettier --write

Add esbuild-loader for TypeScript and JavaScript transpilation in Webpack configuration
  client/package-lock.json
  client/package.json
  client/webpack.config.js
Due: prettier --write

Refactor Webpack manifest generation to use an array for chunks and simplify asset handling
  client/webpack.config.js
Due: none

Update MiniCssExtractPlugin configuration to unify chunk filename format
  client/webpack.config.js
Due: none

Refactor Vite configuration to simplify asset and chunk file naming, removing custom file generation functions
  client/vite.config.ts
  client/vite.generateFiles.ts
Due: eslint --cache --fix, prettier --write

Remove TerserPlugin and replace with EsbuildPlugin for improved JavaScript and CSS minification in Webpack configuration
  client/package-lock.json
  client/package.json
  client/webpack.config.js
Due: prettier --write

Enhance Editor component to accept defaultValue prop and create EditorPlayground for improved user experience
  client/src/core/components/vs/Editor/Editor.tsx
  client/src/core/hooks/vs/useEditor.tsx
  client/src/modules/Home/components/DevTools/Playground/EditorPlayground.tsx
  client/src/modules/Home/components/DevTools/Playground/Playground.tsx
  client/src/modules/Home/hooks/useEditorPlayground.tsx
Due: eslint --cache --fix, prettier --write

Add Playground state management and refactor recentlySelected handling in Redux
  client/src/interfaces/redux/feature.d.ts
  client/src/interfaces/redux/featureGlobal.d.ts
  client/src/interfaces/redux/featurePlayground.d.ts
  client/src/modules/Home/components/DevTools/Playground/Playground.tsx
  client/src/modules/Home/hooks/useCardSvg.tsx
  client/src/modules/Home/hooks/useEditorPlayground.tsx
  client/src/modules/Home/hooks/useHome.tsx
  client/src/modules/Home/hooks/useResizableHome.tsx
  client/src/providers/redux/features/GlobalSlice.ts
  client/src/providers/redux/features/PlaygroundSlice.ts
  client/src/providers/redux/store.ts
Due: eslint --cache --fix, prettier --write

Update defaultValue in useEditorPlayground to include a newline and set expandedCode to true in usePlayground for improved formatting and initial state
  client/src/modules/Home/hooks/useEditorPlayground.tsx
  client/src/modules/Home/hooks/usePlayground.tsx
Due: eslint --cache --fix, prettier --write

Update package dependencies to latest versions for improved stability and performance
  client/package-lock.json
  client/package.json
Due: prettier --write

Remove deprecated textMate service override patch files for cleaner codebase
  client/patches/@codingame+monaco-vscode-textmate-service-override+14.0.4.patch
Due: none

Add quick access service override to enhance editor functionality
  client/package-lock.json
  client/package.json
  client/src/core/hooks/vs/useEditor.tsx
Due: eslint --cache --fix, prettier --write

Add keybindings service override to enhance editor functionality
  client/package-lock.json
  client/package.json
  client/src/core/hooks/vs/useEditor.tsx
Due: eslint --cache --fix, prettier --write

Enhance quick access service override and update CSS for improved UI responsiveness
  client/src/core/hooks/vs/useEditor.tsx
  client/src/index.css
Due: eslint --cache --fix, prettier --write

Add keybindings schema association and create keybindings.json file
  .vscode/settings.json
  client/.vscode/settings.json
  client/src/core/assets/vs/Editor/keybindings.json
Due: prettier --write

Add user keybindings configuration and update editor hook to apply keybindings
  client/src/core/assets/vs/Editor/keybindings.json
  client/src/core/hooks/vs/useEditor.tsx
  client/src/index.css
Due: eslint --cache --fix, prettier --write

Add folder association for 'vs' in VSCode settings
  .vscode/settings.json
  client/.vscode/settings.json
Due: prettier --write

Implement context menu service override to filter actions in Monaco editor
  client/src/core/hooks/vs/useEditor.tsx
  client/src/core/utils/vs/Editor/contextMenu.ts
  client/src/core/utils/vs/Editor/index.ts
Due: eslint --cache --fix, prettier --write

Dispose quick access contribution on editor initialization
  client/src/core/hooks/vs/useEditor.tsx
Due: eslint --cache --fix, prettier --write

Remove default keybindings for 'gotoLine' and 'selectTheme' in keybindings.json
  client/src/core/assets/vs/Editor/keybindings.json
Due: prettier --write

Add workbench configuration settings to editor configuration
  src/utilities/vscode/config.ts
Due: eslint --cache --fix, prettier --write

Add has method to FileModifiedCacheController to check cache entry existence
  src/controllers/cache/FileModifiedCacheController.ts
Due: eslint --cache --fix, prettier --write

Add reload theme command and related functionality to manage extension themes
  l10n.schema.json
  l10n/bundle.l10n.json
  nls.schema.json
  package.json
  package.nls.json
  src/commands/index.ts
  src/commands/reloadTheme.ts
  src/controllers/cache/CacheManagerController.ts
  src/controllers/listener/ListerWebviewController.ts
  src/enum/ViewExportsSVG.ts
  src/extension.ts
  src/interfaces/views/PostMessage.d.ts
  src/interfaces/views/ReceiveMessage.d.ts
  src/interfaces/vscode.d.ts
  src/utilities/vscode/extensions/index.ts
  src/utilities/vscode/extensions/theme.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,md,json}
