Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,md,json}": "prettier --write"
}

Disable explicit function return type rule for example components in JavaScript files
  examples/javascript/Add.jsx
  examples/javascript/Alarm.jsx
  examples/javascript/Archive.jsx
  examples/javascript/ArchiveAndBox.jsx
  examples/javascript/Arrow.jsx
  examples/javascript/Bookmark.jsx
  examples/javascript/BurgerAndMenu.jsx
  examples/javascript/Chart.jsx
  examples/javascript/Check.jsx
  examples/javascript/Cross.jsx
  examples/javascript/Date.jsx
  examples/javascript/Delivery.jsx
  examples/javascript/DesignAndDeveloper.jsx
  examples/javascript/Devices.jsx
  examples/javascript/DownloadAndLoad.jsx
  examples/javascript/Emoji.jsx
  examples/javascript/FileTypes.jsx
  examples/javascript/FolderAndFile.jsx
  examples/javascript/FoodAndDrinks.jsx
  examples/javascript/Indicator.jsx
  examples/javascript/Login.jsx
  examples/javascript/MapsAndTravel.jsx
Due: none

Rename TypeScript example files and update import paths for consistency
  client/src/components/Cards/CardSvg.tsx
  examples/.vscode/settings.json
  examples/typescript/animated/Arrows.tsx
  examples/typescript/animated/Basic.tsx
  examples/typescript/animated/Emojis.tsx
  examples/typescript/static/Media.tsx
  examples/typescript/static/Message.tsx
  examples/typescript/static/MultimediaTypes.tsx
  examples/typescript/static/Navigator.tsx
  examples/typescript/static/Phone.tsx
  examples/typescript/static/Remove.tsx
  examples/typescript/static/RemoveAndCancel.tsx
  examples/typescript/static/Resize.tsx
  examples/typescript/static/Secure.tsx
  examples/typescript/static/ShopAndEcommerce.tsx
  examples/typescript/static/SocialNetwork.tsx
  examples/typescript/static/SortAndTransfer.tsx
  examples/typescript/static/Sport.tsx
  examples/typescript/static/Stationery.tsx
  examples/typescript/static/Study.tsx
  examples/typescript/static/Time.tsx
  examples/typescript/static/Traveling.tsx
  examples/typescript/static/UI.tsx
  examples/typescript/static/UserAndGroup.tsx
  examples/typescript/static/Visibility.tsx
  examples/typescript/static/Weather.tsx
  examples/typescript/types.d.ts
Due: eslint --cache --fix, prettier --write

Refactor styles in TypeScript components and add new animated chat and phone SVG icons
  examples/.vscode/settings.json
  examples/javascript/animated/Branding.jsx
  examples/javascript/animated/Celebrate.jsx
  examples/javascript/animated/Christmas.jsx
  examples/javascript/animated/Communication.jsx
  examples/javascript/animated/Devices.jsx
  examples/javascript/animated/Loaders.jsx
  examples/javascript/animated/Notifications.jsx
  examples/javascript/static/Add.jsx
  examples/javascript/static/Alarm.jsx
  examples/javascript/static/Archive.jsx
  examples/javascript/static/ArchiveAndBox.jsx
  examples/javascript/static/Arrow.jsx
  examples/javascript/static/Bookmark.jsx
  examples/javascript/static/BurgerAndMenu.jsx
  examples/javascript/static/Chart.jsx
  examples/javascript/static/Check.jsx
  examples/javascript/static/Cross.jsx
  examples/javascript/static/Date.jsx
  examples/javascript/static/Delivery.jsx
  examples/javascript/static/DesignAndDeveloper.jsx
  examples/javascript/static/Devices.jsx
  examples/javascript/static/DownloadAndLoad.jsx
  examples/javascript/static/Emoji.jsx
  examples/javascript/static/FileTypes.jsx
  examples/javascript/static/FolderAndFile.jsx
  examples/javascript/static/FoodAndDrinks.jsx
  examples/javascript/static/Indicator.jsx
  examples/javascript/static/Login.jsx
  examples/javascript/static/MapsAndTravel.jsx
  examples/typescript/animated/Basic.tsx
  examples/typescript/static/Study.tsx
Due: eslint --cache --fix, prettier --write

Update devDependencies and dependencies in package.json for improved compatibility and features
  nls.schema.json
  package-lock.json
  package.json
Due: prettier --write

Remove localization files for SVG export extension in Chinese and Japanese
  l10n/bundle.l10n.de.json
  l10n/bundle.l10n.es.json
  l10n/bundle.l10n.fr.json
  l10n/bundle.l10n.ja.json
  l10n/bundle.l10n.pt_BR.json
  l10n/bundle.l10n.pt_PT.json
  l10n/bundle.l10n.ru.json
  l10n/bundle.l10n.zh_CN.json
  l10n/bundle.l10n.zh_TW.json
  package.nls.de.json
  package.nls.es.json
  package.nls.fr.json
  package.nls.ja.json
  package.nls.pt-br.json
  package.nls.pt-pt.json
  package.nls.ru.json
  package.nls.zh-cn.json
  package.nls.zh-tw.json
Due: prettier --write

Update localization keys for View Exports SVG extension title
  l10n.schema.json
  l10n/bundle.l10n.json
  src/controllers/views/ViewExportsSVGController.ts
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

Add collapse and expand commands for SVG icons with localization support
  nls.schema.json
  package.json
  package.nls.json
  src/commands/expandedIcons.ts
  src/commands/index.ts
  src/extension.ts
Due: eslint --cache --fix, prettier --write

Implement expand/collapse functionality for SVG icons with messaging support
  client/src/hooks/components/useContainerComponents.tsx
  client/src/interfaces/ViewExportsSVG.d.ts
  src/commands/expandedIcons.ts
  src/controllers/listener/ListerWebviewController.ts
  src/enum/ViewExportsSVG.ts
  src/extension.ts
  src/interfaces/views/PostMessage.d.ts
  src/interfaces/views/ReceiveMessage.d.ts
Due: eslint --cache --fix, prettier --write

Add default expand all configuration and related functionality
  client/src/hooks/components/useContainerComponents.tsx
  nls.schema.json
  package.json
  package.nls.json
  src/controllers/config/DefaultExpandAllController.ts
  src/controllers/config/index.ts
Due: eslint --cache --fix, prettier --write

Add initialization for default expanded icons in SVG handling
  client/src/hooks/components/useContainerComponents.tsx
  client/src/interfaces/ViewExportsSVG.d.ts
  src/controllers/listener/ListerWebviewController.ts
  src/enum/ViewExportsSVG.ts
  src/interfaces/views/ReceiveMessage.d.ts
Due: eslint --cache --fix, prettier --write

Update dependencies to latest versions for improved performance and compatibility
  client/package-lock.json
  client/package.json
Due: prettier --write

Refactor SearchBar component to extract label rendering into a separate LabelSearchBar function for improved readability
  client/src/components/SearchBar/index.tsx
Due: eslint --cache --fix, prettier --write

Add server directory with initial Deno setup and configuration files
  .eslintignore
  server/.gitignore
  server/.vscode/settings.json
  server/deno.json
  server/main.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Implement initial server setup with Express and SVG routing
  server/.vscode/settings.json
  server/deno.json
  server/main.ts
  server/src/app.ts
  server/src/routes/svg.route.ts
  server/src/server.ts
  server/src/views/404.html
  server/types.d.ts
  src/enum/ViewExportsSVG.ts
Due: eslint --cache --fix, prettier --write

Add compiler options to Deno configuration for type definitions
  server/deno.json
  server/src/types.d.ts
Due: eslint --cache --fix, prettier --write

Enable Deno support in VSCode settings
  .vscode/settings.json
Due: prettier --write

Remove Deno support from VSCode settings
  .vscode/settings.json
Due: prettier --write

Refine file type regex to exclude declaration files in context menus and constants
  package.json
  src/constants/regex.ts
Due: eslint --cache --fix, prettier --write

Set BASE_PATH environment variable to current working directory
  server/src/server.ts
Due: eslint --cache --fix, prettier --write

Update .gitignore and .vscodeignore, add regex constants, and enhance SVG route for file retrieval
  .gitignore
  .vscodeignore
  server/components.json
  server/deno.json
  server/src/app.ts
  server/src/constants/regex.ts
  server/src/routes/svg.route.ts
Due: eslint --cache --fix, prettier --write

Update output directory structure to use CommonJS format and adjust related configurations
  .vscode/launch.json
  package.json
  src/controllers/views/ViewExportsSVGController.ts
  tsconfig.json
  tsconfig.prod.json
Due: eslint --cache --fix, prettier --write

Enhance watch script with source maps and update TypeScript configuration to include declaration files
  package.json
  tsconfig.local.json
Due: prettier --write

Add separate TypeScript configurations for CommonJS and ESNext modules, and update package scripts for compilation and watching
  package-lock.json
  package.json
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
  tsconfig.local.json
Due: prettier --write

Update TypeScript ESM configuration to use ES2020 module and add module resolution
  tsconfig.esm.json
Due: prettier --write

Enhance TypeScript build process with interface copying and add new type configuration
  package.json
  tsconfig.types.json
Due: prettier --write

Refactor TypeScript build scripts to separate interface copying and enhance watch functionality
  package.json
Due: prettier --write

Enhance copy-interfaces script to create output directory before copying interfaces
  package.json
Due: prettier --write

Add file association for tsconfig.types.json in VSCode settings
  .vscode/settings.json
Due: prettier --write

Refactor VSCode configurations by removing unused tasks and adding Deno debug configuration
  .vscode/launch.json
  .vscode/tasks.json
  server/.vscode/launch.json
Due: prettier --write

Add error handling to getWorkspacePath function in VSCode workspace utility
  src/utilities/vscode/workspace.ts
Due: eslint --cache --fix, prettier --write

Update Deno configuration and add polyfills for browser compatibility
  server/.vscode/launch.json
  server/deno.json
  server/src/polyfill.ts
  server/src/server.ts
Due: eslint --cache --fix, prettier --write

Return root path instead of empty string in getWorkspacePath function
  src/utilities/vscode/workspace.ts
Due: eslint --cache --fix, prettier --write

Add --unstable-sloppy-imports flag to dev task in Deno configuration
  server/deno.json
Due: prettier --write

Add --watch flag to dev and start tasks in Deno configuration
  server/.vscode/launch.json
  server/deno.json
Due: prettier --write

Add error handling and async support to get-components route for SVG files
  server/src/routes/svg.route.ts
Due: eslint --cache --fix, prettier --write

Enhance SVG components route by integrating file processing and updating Deno configuration for improved imports
  server/deno.json
  server/src/routes/svg.route.ts
Due: eslint --cache --fix, prettier --write

Remove error logging from getLanguageFromFile function for cleaner output
  src/utilities/files/misc.ts
Due: eslint --cache --fix, prettier --write

Add --allow-import flag to Deno configuration for enhanced module loading
  server/.vscode/launch.json
Due: prettier --write

Add mock implementations for EnvironmentVariableCollection and ExtensionContext for testing
  server/src/mocks/EnvironmentVariableCollection.mock.ts
  server/src/mocks/extensionContext.mock.ts
Due: eslint --cache --fix, prettier --write
