Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Refactor i18n schema and settings.json for l10n support
  .vscode/settings.json
  i18n.schema.json
  l10n.schema.json
Due: prettier --write

Refactor .vscode/settings.json to include nls.schema.json for l10n support
  .vscode/settings.json
  l10n.schema.json
  nls.schema.json
Due: prettier --write

Add localization support for Chinese (Simplified), Chinese (Traditional), Japanese, and Russian languages
  l10n/bundle.l10n.de.json
  l10n/bundle.l10n.es.json
  l10n/bundle.l10n.fr.json
  l10n/bundle.l10n.ja.json
  l10n/bundle.l10n.pt_BR.json
  l10n/bundle.l10n.pt_PT.json
  l10n/bundle.l10n.ru.json
  l10n/bundle.l10n.zh_CN.json
  l10n/bundle.l10n.zh_TW.json
Due: prettier --write

Add localization support for Chinese (Simplified), Chinese (Traditional), Japanese, Russian, Portuguese (Brazilian), and Portuguese (European) languages
  package.nls.de.json
  package.nls.es.json
  package.nls.fr.json
  package.nls.ja.json
  package.nls.pt_BR.json
  package.nls.pt_PT.json
  package.nls.ru.json
  package.nls.zh_CN.json
  package.nls.zh_TW.json
Due: prettier --write

Refactor .vscode/settings.json to include localization support for package.nls.json
  .vscode/settings.json
Due: prettier --write

Refactor showMenu.ts and CacheManagerController.ts
  src/commands/showMenu.ts
  src/controllers/cache/CacheManagerController.ts
  src/controllers/cache/FileModifiedCacheController.ts
  src/controllers/cache/IconCacheController.ts
  src/extension.ts
  src/utilities/cache/index.ts
  src/utilities/files/processFiles.ts
  src/utilities/svg/playground.ts
Due: eslint --cache --fix, prettier --write

Refactor config files and controllers
  src/controllers/config/AssetsPathsController.ts
  src/controllers/config/ConfigManagerController.ts
  src/controllers/config/DefaultIconPropertiesController.ts
  src/controllers/config/GroupPatternsController.ts
  src/controllers/config/IgnoreDirectoriesController.ts
  src/controllers/config/LastScanDateController.ts
  src/controllers/config/ShowNotExportedIconsController.ts
  src/controllers/config/index.ts
  src/utilities/config/index.ts
  src/utilities/files/allowedFilesInFolder.ts
  src/utilities/files/groupIconsByPattern.ts
  src/utilities/files/processFiles.ts
  src/utilities/files/scanning.ts
  src/utilities/properties/propertyValues.ts
  src/views/ViewExportsSVGPanel.ts
Due: eslint --cache --fix, prettier --write

Refactor cache controller imports
  src/controllers/cache/index.ts
  src/extension.ts
  src/utilities/files/processFiles.ts
  src/utilities/svg/playground.ts
Due: eslint --cache --fix, prettier --write

Refactor showMenu.ts and ViewExportsSVGPanel.ts
  src/commands/showMenu.ts
  src/controllers/views/ViewExportsSVGController.ts
  src/controllers/views/index.ts
  src/utilities/files/scanning.ts
  src/views/index.ts
Due: eslint --cache --fix, prettier --write

Refactor config files and controllers
  src/constants/misc.ts
  src/controllers/config/ConfigManagerController.ts
  src/controllers/views/ViewExportsSVGController.ts
  src/interfaces/views/ViewExportsSVGPanel.d.ts
  src/interfaces/views/content.d.ts
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

Add ListerWebviewController to listener controller
  src/controllers/listener/ListerWebviewController.ts
  src/controllers/listener/index.ts
  src/controllers/views/ViewExportsSVGController.ts
Due: eslint --cache --fix, prettier --write

Refactor import paths in content and PostMessage interfaces
  client/src/interfaces/ViewExportsSVG.d.ts
  client/src/services/vscode.ts
  src/controllers/listener/ListerWebviewController.ts
  src/enum/ViewExportsSVG.ts
  src/interfaces/views/PostMessage.d.ts
  src/interfaces/views/ReceiveMessage.d.ts
  src/interfaces/views/ViewExportsSVGPanel.d.ts
  src/interfaces/views/content.d.ts
  src/utilities/files/misc.ts
Due: eslint --cache --fix, prettier --write

Refactor IconCacheController to allow updating the saved icon limit
  src/controllers/cache/IconCacheController.ts
Due: eslint --cache --fix, prettier --write

Refactor cache file paths and controllers
  src/controllers/cache/CacheManagerController.ts
  src/controllers/cache/IconCacheController.ts
Due: eslint --cache --fix, prettier --write

Refactor ListerWebviewController to add cache functionality
  src/controllers/listener/ListerWebviewController.ts
  src/enum/ViewExportsSVG.ts
  src/interfaces/views/PostMessage.d.ts
  src/interfaces/views/ReceiveMessage.d.ts
Due: eslint --cache --fix, prettier --write

Refactor SVG interfaces to include recent and favorite icons
  client/src/interfaces/ViewExportsSVG.d.ts
Due: eslint --cache --fix, prettier --write

Refactor package.json scripts to include client:built command
  package.json
Due: prettier --write

Refactor CardSvg component to use SVGIcon instead of title
  client/src/components/Cards/CardSvg.tsx
  client/src/components/ContainerComponents/index.tsx
  client/src/hooks/components/Cards/useCardSvg.tsx
Due: eslint --cache --fix, prettier --write

Refactor i18n schema and en.json to include error messages
  client/i18n.schema.json
  client/src/i18n/en.json
  client/src/services/vscode.ts
Due: eslint --cache --fix, prettier --write

Refactor i18n schema and en.json to use camel case for error messages
  client/i18n.schema.json
  client/src/i18n/en.json
  client/src/services/vscode.ts
Due: eslint --cache --fix, prettier --write

Refactor IconCacheController to fix duplicate icons issue
  src/controllers/cache/IconCacheController.ts
Due: eslint --cache --fix, prettier --write

Fix: priority config workspace
  src/controllers/config/DefaultIconPropertiesController.ts
  src/controllers/config/GroupPatternsController.ts
Due: eslint --cache --fix, prettier --write

Refactor language files to include recent icons configuration
  nls.schema.json
  package.json
  package.nls.de.json
  package.nls.es.json
  package.nls.fr.json
  package.nls.ja.json
  package.nls.json
  package.nls.pt_BR.json
  package.nls.pt_PT.json
  package.nls.ru.json
  package.nls.zh_CN.json
  package.nls.zh_TW.json
Due: prettier --write

Refactor archivo de idioma para incluir configuración de iconos recientes
  package.nls.pt-br.json
  package.nls.pt-pt.json
  package.nls.zh-cn.json
  package.nls.zh-tw.json
Due: prettier --write

Refactor RecentIconsController and add it to config index
  src/controllers/config/RecentIconsController.ts
  src/controllers/config/index.ts
  src/extension.ts
Due: eslint --cache --fix, prettier --write

Refactor CacheManagerController to include recent icons limit configuration
  src/controllers/cache/CacheManagerController.ts
  src/controllers/cache/IconCacheController.ts
Due: eslint --cache --fix, prettier --write

Refactor filtered.ts to remove duplicate filter function
  src/utilities/svg/filtered.ts
Due: eslint --cache --fix, prettier --write

Refactor ListerWebviewController to use a handlers map for message listeners
  src/controllers/listener/ListerWebviewController.ts
Due: eslint --cache --fix, prettier --write

Refactor extensions.json to add OmriGrossman.live-code-metric
  .vscode/extensions.json
Due: prettier --write

Add path-intellisense and prettify-ts extensions
  .vscode/extensions.json
Due: prettier --write

Refactor extension.ts to update command name in registerCommand
  src/extension.ts
Due: eslint --cache --fix, prettier --write

Revert "Refactor extension.ts to update command name in registerCommand"
  src/extension.ts
Due: eslint --cache --fix, prettier --write

Refactor pretest script in package.json to fix typo in command name
  package.json
Due: prettier --write

Update lastScanDate in workspaceTest.code-workspace
  workspaceTest.code-workspace
Due: none

Refactor saveResponseFiles.test.ts to remove unused imports and update code formatting
  src/test/suite/utilities/files/saveResponseFiles.test.ts
  workspaceTest.code-workspace
Due: eslint --cache --fix, prettier --write

Rename package to jt-view-exports-svg--client
  client/package.json
Due: prettier --write

Add example project configuration files and TypeScript definitions
  examples/.eslintignore
  examples/.eslintrc.cjs
  examples/.gitignore
  examples/.nvmrc
  examples/.prettierignore
  examples/.prettierrc
  examples/README.md
  examples/package-lock.json
  examples/package.json
  examples/tsconfig.app.json
  examples/tsconfig.json
  examples/typescript/Media.tsx
  examples/typescript/types.d.ts
Due: eslint --cache --fix, prettier --write

Update package.json scripts for JavaScript support and refactor component props in TypeScript files
  examples/javascript/Alarm.jsx
  examples/package.json
  examples/typescript/Message.tsx
  examples/typescript/MultimediaTypes.tsx
  examples/typescript/Navigator.tsx
  examples/typescript/Phone.tsx
  examples/typescript/Remove.tsx
  examples/typescript/RemoveAndCancel.tsx
  examples/typescript/Resize.tsx
  examples/typescript/Secure.tsx
  examples/typescript/ShopAndEcommerce.tsx
  examples/typescript/SocialNetwork.tsx
  examples/typescript/SortAndTransfer.tsx
  examples/typescript/Sport.tsx
  examples/typescript/Stationery.tsx
  examples/typescript/Study.tsx
  examples/typescript/Time.tsx
  examples/typescript/Traveling.tsx
  examples/typescript/UI.tsx
  examples/typescript/UserAndGroup.tsx
  examples/typescript/Visibility.tsx
  examples/typescript/Weather.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,md,json}
