Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,md,json}": "prettier --write",
  "./client/**/*.{ts,tsx}": "eslint --cache --fix",
  "./client/**/*.{ts,tsx,css,md,json}": "prettier --write"
}

feat: update pnpm workspace configuration to allow builds for additional packages
  package.json
  packages/docs/docusaurus.config.ts
  packages/docs/package.json
  packages/extension/package.json
  packages/server/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache --fix, prettier --write

chore: update dependencies to version 32.0.2 across server and webview packages
  packages/server/package.json
  packages/webview/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: add extension translations sync & quality fix design spec
  docs/superpowers/specs/2026-05-19-extension-translations-design.md
Due: prettier --write

update transaltions l10n
  packages/extension/l10n/bundle.l10n.cs.json
  packages/extension/l10n/bundle.l10n.de.json
  packages/extension/l10n/bundle.l10n.es.json
  packages/extension/l10n/bundle.l10n.fr.json
  packages/extension/l10n/bundle.l10n.it.json
  packages/extension/l10n/bundle.l10n.ja.json
  packages/extension/l10n/bundle.l10n.json
  packages/extension/l10n/bundle.l10n.ko.json
  packages/extension/l10n/bundle.l10n.pl.json
  packages/extension/l10n/bundle.l10n.pt-br.json
  packages/extension/l10n/bundle.l10n.ru.json
  packages/extension/l10n/bundle.l10n.tr.json
  packages/extension/l10n/bundle.l10n.zh-cn.json
  packages/extension/l10n/bundle.l10n.zh-tw.json
  packages/extension/src/commands/showMenu.ts
  packages/extension/src/messaging/MessageRouter.ts
  packages/extension/src/messaging/handlers/ChangeViewPathHandler.ts
  packages/extension/src/messaging/handlers/devtools/IsOpenDevToolsHandler.ts
  packages/extension/src/messaging/handlers/fetch/FetchVSCodeThemeHandler.ts
  packages/extension/src/messaging/handlers/fetch/FetchVsCodeThemePackageHandler.ts
  packages/extension/src/messaging/handlers/ui/IsExpandComponentsHandler.ts
  packages/extension/src/messaging/handlers/ui/ReloadComponentHandler.ts
  packages/extension/src/services/cache/CacheManager.ts
  packages/extension/src/services/config/DefaultIconPropertiesConfig.ts
  packages/extension/src/services/config/GroupPatternsConfig.ts
  packages/extension/src/services/config/IgnoreDirectoriesConfig.ts
  packages/extension/src/services/config/ShowNotExportedIconsConfig.ts
  packages/extension/src/services/config/base/ConfigManager.ts
  packages/extension/src/services/config/base/ConfigRegistry.ts
  packages/extension/src/test/suite/services/config/ConfigManager.test.ts
  packages/extension/src/utilities/svg/extracts.ts
  schemas/l10n.schema.json
Due: eslint --cache --fix, prettier --write

fix: ensure notification handling only occurs when PanelController is active
  packages/extension/src/services/config/base/ConfigRegistry.ts
Due: eslint --cache --fix, prettier --write

fix: correct typo in defaultClickToOpenDevTools configuration
  packages/webview/src/core/hooks/useCardSvg.tsx
  packages/webview/src/store/features/global/state.ts
  packages/webview/src/store/types/global.d.ts
Due: eslint --cache --fix, prettier --write

feat: add extension API generation script and update VS Code bootstrap process
  packages/server/src/core/vscode-setup.ts
  scripts/generate-extension-api.js
Due: eslint --cache --fix, prettier --write

feat: enhance navigation options with reload capability and improve file metadata handling
  packages/core/src/types/messaging/post.d.ts
  packages/extension/src/controllers/views/PanelController.ts
  packages/webview/src/core/hooks/useRouteManager.tsx
  packages/webview/src/features/dashboard/hooks/useDashboard.tsx
  packages/webview/src/store/types/global.d.ts
Due: eslint --cache --fix, prettier --write

fix: update script path for extension API generation
  package.json
Due: prettier --write

Remove file
  docs/superpowers/specs/2026-05-19-extension-translations-design.md
Due: prettier --write

fix: update import statement in README for ExtensionMessage
  packages/core/README.md
Due: prettier --write

fix: change onBrokenLinks behavior from 'throw' to 'warn'
  packages/docs/docusaurus.config.ts
Due: eslint --cache --fix, prettier --write

fix: update import path for lazy-loaded Lucide icons to use .mjs extension
  packages/docs/src/theme/MDXComponents/A/utils/metadata.tsx
Due: eslint --cache --fix, prettier --write

docs: update settings and usage guides for icon collections and cache management features
  packages/docs/docs/guides/settings.mdx
  packages/docs/docs/guides/usage.mdx
  packages/docs/src/constants/features.tsx
  packages/extension/CHANGELOG.md
Due: eslint --cache --fix, prettier --write

fix: update tip and caution syntax to include brackets for better formatting
  packages/docs/docs/guides/devtools.mdx
  packages/docs/docs/guides/troubleshooting.mdx
  packages/docs/docs/guides/usage.mdx
  packages/docs/docs/resources/svg-support.mdx
  packages/docs/docusaurus.config.ts
  packages/docs/src/plugins/changelog/utils.ts
Due: eslint --cache --fix, prettier --write

fix: correct range formatting for recent and favorite icon storage settings
  packages/docs/docs/guides/settings.mdx
Due: none

fix: update changelog configuration to disable blog and correct formatting in replaceChangelogContent function
  packages/docs/docusaurus.config.ts
  packages/docs/src/plugins/changelog/utils.ts
Due: eslint --cache --fix, prettier --write

feat: add environment configuration with zod validation and include zod dependency
  packages/docs/docusaurus.config.ts
  packages/docs/package.json
  packages/docs/src/config/environment.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: update package versions to 5.0.0 across all packages
  package.json
  packages/extension-api/package.json
  packages/extension/package.json
  packages/webview/package.json
Due: prettier --write

fix: correct script commands in package.json for typecheck and clean
  package.json
Due: prettier --write

fix: update restoreDynamicMessage to replace all dynamic placeholders [#discussion_r3275739785](https://github.com/JairTorres1003/JT-View-Exports-SVG/pull/234#discussion_r3275739785)
  packages/core/src/utils/messages.ts
Due: eslint --cache --fix, prettier --write

fix: update regex in isDynamicMessage to correctly match dynamic message patterns [#discussion_r3275739808](https://github.com/JairTorres1003/JT-View-Exports-SVG/pull/234#discussion_r3275739808)
  packages/core/src/utils/messages.ts
Due: eslint --cache --fix, prettier --write

fix: simplify isValidExtensionMessage by using isDynamicMessage for normalization [#discussion_r3275739817](https://github.com/JairTorres1003/JT-View-Exports-SVG/pull/234#discussion_r3275739817)
  packages/core/src/utils/messages.ts
Due: eslint --cache --fix, prettier --write

fix: update image source path in README for correct logo display
  packages/extension/README.md
Due: prettier --write

fix: update micromatch options in groupIconsByPattern for improved pattern matching
  packages/extension/src/utilities/files/groupIconsByPattern.ts
Due: eslint --cache --fix, prettier --write

refactor: reorganize test files and improve utility function tests
  packages/extension/src/test/helpers.ts
  packages/extension/src/test/suite/extension.test.ts
  packages/extension/src/test/suite/main.test.ts
  packages/extension/src/test/suite/utilities/files/allowedFilesInFolder.test.ts
  packages/extension/src/test/suite/utilities/files/misc.test.ts
  packages/extension/src/test/suite/utilities/properties/binaryExpression.test.ts
  packages/extension/src/test/suite/utilities/vscode/uri.test.ts
  packages/extension/tsconfig.json
Due: eslint --cache --fix, prettier --write

refactor: simplify environment variable validation schema
  packages/webview/src/config/environment.ts
Due: eslint --cache --fix, prettier --write

feat: add capture pattern utilities and enhance grouping logic for SVG exports
  packages/extension/src/test/suite/utilities/files/capturePattern.test.ts
  packages/extension/src/test/suite/utilities/files/groupIconsByPattern.test.ts
  packages/extension/src/utilities/files/capturePattern.ts
  packages/extension/src/utilities/files/groupIconsByPattern.ts
Due: eslint --cache --fix, prettier --write

feat: add dynamic group patterns and capture pattern documentation for SVG exports
  .vscode/settings.json
  packages/docs/docs/guides/settings.mdx
Due: prettier --write

chore: update CHANGELOG for version 5.0.1 with new features, bug fixes, and enhancements
  packages/extension/CHANGELOG.md
Due: prettier --write

chore: bump version to 5.0.1 for extension-api, extension, and webview packages
  packages/extension-api/package.json
  packages/extension/package.json
  packages/webview/package.json
Due: prettier --write

chore: update version to 5.0.1 in package.json
  package.json
Due: prettier --write

chore: update @biomejs/biome to version 2.4.16 in package.json
  biome.json
  biome.react.json
  package.json
  packages/core/biome.json
  packages/docs/biome.json
  packages/extension/biome.json
  packages/server/biome.json
  packages/webview/biome.json
  pnpm-lock.yaml
Due: prettier --write

chore: update concurrently to version 10.0.3 in package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update monaco-vscode dependencies to version 33.0.9 in package.json files
  packages/server/package.json
  packages/webview/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update concurrently to version 10.0.3 in package.json
  packages/extension/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add @codingame/monaco-vscode-api dependency at version 33.0.9
  pnpm-lock.yaml
  scripts/generate-extension-api.js
Due: none

chore: update @codingame/monaco-vscode-api and related dependencies to version 34.0.2
  packages/extension-api/package.json
  packages/server/package.json
  packages/webview/package.json
  pnpm-lock.yaml
  scripts/generate-extension-api.js
Due: prettier --write

Refactor code structure for improved readability and maintainability
  packages/webview/package.json
  pnpm-lock.yaml
Due: prettier --write
