Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,md,json}": "prettier --write",
  "./client/**/*.{ts,tsx}": "eslint --cache --fix",
  "./client/**/*.{ts,tsx,css,md,json}": "prettier --write"
}

refactor: standardize quotation marks in HTML files for consistency
  packages/server/src/views/404.html
  packages/webview/index.html
Due: none

feat: add JSON schema for i18n in View Exports SVG extension
  schemas/i18n.schema.json
Due: prettier --write

refactor: remove unused overrides from biome.json and update last scan date in workspace settings
  biome.json
  packages/extension/workspaceTest.code-workspace
  scripts/generate-extension-api-package.js
Due: prettier --write

Implement feature X to enhance user experience and optimize performance
  pnpm-lock.yaml
Due: none

refactor: improve code formatting and organization in README and package.json
  packages/core/README.md
  packages/core/package.json
Due: prettier --write

refactor: enhance package.json metadata and update component type definitions to use React.FC
  packages/docs/package.json
  packages/docs/src/assets/icons/social.tsx
  packages/docs/src/components/DocCard.tsx
  packages/docs/src/components/GridStagger.tsx
  packages/docs/src/components/HeroSection/HeroSection.tsx
  packages/docs/src/components/NextStepList.tsx
  packages/docs/src/components/Shortcut.tsx
  packages/docs/src/plugins/remark/table/types.d.ts
  packages/docs/src/theme/BlogLayout/index.tsx
  packages/docs/src/theme/DocItem/Layout/index.tsx
  packages/docs/src/theme/MDXComponents/A/index.tsx
  packages/docs/src/theme/Navbar/ColorModeToggle/index.tsx
  packages/docs/src/theme/Navbar/Content/NavbarContentItems.tsx
  packages/docs/src/theme/Navbar/Content/NavbarItem.tsx
  packages/docs/src/theme/Navbar/Content/types.d.ts
  packages/docs/src/theme/Navbar/CustomComponent.tsx
  packages/docs/src/theme/TOC/index.tsx
Due: eslint --cache --fix, prettier --write

refactor: update package.json files to enhance repository structure and add husky pre-commit hooks
  package.json
  packages/extension/package.json
Due: prettier --write

refactor: update component type definitions to use React.FC and improve package.json scripts
  packages/webview/package.json
  packages/webview/src/core/components/Cards/CardSvg/CardSvg.tsx
  packages/webview/src/core/components/Cards/CardSvgRenderMemo/ContextMenu.tsx
  packages/webview/src/core/components/DevTools/DevTools.tsx
  packages/webview/src/core/components/DevTools/Menu/MenuMoreActions/MenuMoreActions.tsx
  packages/webview/src/core/components/DevTools/Menu/MenuTools/MenuTools.tsx
  packages/webview/src/core/components/DevTools/Playground/PlaygroundCardSvg/PlaygroundCardSvg.tsx
  packages/webview/src/core/components/LoadingPage/LoadingPage.tsx
  packages/webview/src/core/components/Select/SelectPickerColor/SelectPickerColor.tsx
  packages/webview/src/core/components/SpeedDial/DraggableSpeedDial/DraggableSpeedDial.tsx
  packages/webview/src/core/components/modals/DialogInfoModal.tsx
  packages/webview/src/core/components/modals/DialogModal.tsx
  packages/webview/src/features/dashboard/components/ProgressBarInRefresh/ProgressBarInRefresh.tsx
  packages/webview/src/features/upload/components/FileList.tsx
Due: eslint --cache --fix, prettier --write

refactor: update dependencies to latest versions in package.json and pnpm-lock.yaml
  packages/webview/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: update packageManager version to pnpm@10.30.3 in package.json
  package.json
Due: prettier --write

feat: add script to fix ESM alias paths in extension API files
  .vscode/settings.json
  package.json
  packages/core/package.json
  packages/extension-api/package.json
  packages/server/.env.example
  packages/server/.gitignore
  packages/server/README.md
  packages/server/deno.json
  packages/server/package.json
  packages/server/src/app.ts
  packages/server/src/controllers/file.controller.ts
  packages/server/src/controllers/icons.controller.ts
  packages/server/src/controllers/settings.controller.ts
  packages/server/src/controllers/svg.controller.ts
  packages/server/src/controllers/view.controller.ts
  packages/server/src/core/context.ts
  packages/server/src/core/vscode-setup.ts
  packages/server/src/core/workspace.ts
  packages/server/src/libs/@babel/traverse/index.ts
  packages/server/src/main.ts
  packages/server/src/mocks/EnvironmentVariableCollection.mock.ts
  packages/server/src/mocks/extensionContext.mock.ts
  packages/server/src/polyfill.ts
  packages/server/src/routes/file.routes.ts
  packages/server/src/routes/icons.routes.ts
  packages/server/src/routes/settings.routes.ts
  packages/server/src/routes/svg.routes.ts
  packages/server/src/routes/view.routes.ts
  packages/server/src/server.ts
  packages/server/src/types.d.ts
  packages/server/src/utilities/createExtensionUri.ts
  packages/server/src/utilities/getFilesFrontDirectory.ts
  packages/server/src/vscode.ts
  packages/server/tsconfig.json
  pnpm-lock.yaml
  scripts/fix-alias-extension-api.js
  scripts/generate-extension-api-package.js
Due: eslint --cache --fix, prettier --write

refactor: update minimatch dependency to version 10.2.4 in package.json and pnpm-lock.yaml
  package.json
  packages/extension/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: update TypeScript configuration files
  .vscode/settings.json
  packages/core/tsconfig.json
  packages/core/tsconfig.types.json
  packages/extension-api/tsconfig.json
  packages/extension/package.json
  packages/extension/src/test/suite/index.ts
  packages/extension/src/test/suite/utilities/files/misc.test.ts
  packages/extension/tsconfig.esm.json
  packages/extension/tsconfig.json
  packages/extension/workspaceTest.code-workspace
  packages/server/tsconfig.json
  packages/webview/package.json
  packages/webview/tsconfig.app.json
  packages/webview/tsconfig.json
  packages/webview/tsconfig.node.json
  tsconfig.base.json
Due: eslint --cache --fix, prettier --write

refactor: update biome configuration files
  .vscode/settings.json
  biome.json
  biome.react.json
  packages/core/biome.json
  packages/core/package.json
  packages/docs/package.json
  packages/server/biome.json
  packages/server/package.json
  packages/webview/biome.json
  packages/webview/package.json
Due: prettier --write

refactor: update VSCode settings, clean up JSON formatting, and add comments for future reducer extensibility
  .vscode/settings.json
  packages/docs/src/theme/DocItem/Layout/styles.module.css
  packages/extension-api/package.json
  packages/extension/package.json
  packages/webview/public/dev/vs/theme/default-theme-one-dark.json
  packages/webview/src/types/store/features/GlobalSlice.d.ts
  packages/webview/src/types/store/features/PlaygroundSlice.d.ts
  packages/webview/src/types/store/features/SvgSlice.d.ts
  packages/webview/src/types/store/features/VsCodeSlice.d.ts
  packages/webview/tsconfig.json
  packages/webview/vite.config.ts
Due: eslint --cache --fix, prettier --write

refactor: update biome schema version to 2.4.5 across configuration files
  biome.json
  biome.react.json
  package.json
  packages/core/biome.json
  packages/docs/biome.json
  packages/docs/package.json
  packages/extension/biome.json
  packages/server/biome.json
  packages/webview/biome.json
  packages/webview/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: remove @biomejs/biome dependency from package.json and pnpm-lock.yaml
  packages/docs/package.json
  packages/extension/package.json
  packages/webview/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: update CSS styles for DocSearch components and remove unused variables
  packages/docs/src/css/custom.css
  packages/webview/src/styles/globals.css
Due: prettier --write

Refactor code structure for improved readability and maintainability
  package.json
  packages/core/package.json
  packages/docs/package.json
  packages/extension-api/package.json
  packages/extension/package.json
  packages/server/package.json
  packages/webview/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: remove REFACTORING_PROPOSAL.md to streamline project documentation
  REFACTORING_PROPOSAL.md
Due: prettier --write

Refactor code structure for improved readability and maintainability
  packages/docs/package.json
  packages/server/package.json
  packages/webview/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: update VSCode extensions list by adding Prettier and Remote Containers
  .vscode/extensions.json
Due: prettier --write

refactor: add .pnpm-store to .gitignore for improved dependency management
  .gitignore
Due: none

refactor: add devDependencies section for TypeScript in API package
  scripts/generate-extension-api-package.js
Due: none

refactor: add concurrently as a devDependency for improved script execution
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: enhance script commands for development and build processes
  package.json
Due: prettier --write

refactor: update README for clarity and consistency in core package documentation
  packages/core/README.md
Due: prettier --write

refactor: improve README structure and clarity for documentation site
  packages/docs/README.md
Due: prettier --write

refactor: update README for improved clarity and consistency in feature descriptions
  packages/extension/README.md
Due: prettier --write

refactor: add full release build instruction to README for clarity
  packages/extension/README.md
Due: prettier --write

refactor: remove outdated documentation links from README files for clarity
  packages/core/README.md
  packages/docs/README.md
Due: prettier --write

refactor: update build scripts and add new tsconfig.api.json for API compilation
  .vscode/settings.json
  package.json
  packages/extension-api/tsconfig.json
  packages/extension/package.json
  packages/extension/tsconfig.api.json
Due: prettier --write

refactor: add README for extension-api package to document usage and dependencies
  packages/extension-api/README.md
Due: prettier --write

refactor: update package.json description for clarity and remove unused build script
  packages/extension-api/package.json
  scripts/fix-alias-extension-api.js
  scripts/generate-extension-api-package.js
Due: prettier --write

refactor: standardize string formatting and improve error handling in various components
  biome.json
  packages/docs/src/constants/getting-started.tsx
  packages/docs/src/theme/DocSidebarItem/Link/index.tsx
  packages/server/src/main.ts
  packages/webview/src/core/components/Cards/CardSvg/CardSvg.style.tsx
  packages/webview/src/core/components/SpeedDial/DraggableSpeedDial/DraggableSpeedDial.style.tsx
  packages/webview/src/features/upload/components/FileList.style.tsx
Due: eslint --cache --fix, prettier --write

refactor: add README for server package to document development usage and setup
  packages/server/README.md
Due: prettier --write

refactor: update README for webview package to enhance clarity and remove outdated content
  packages/webview/README.md
Due: prettier --write

refactor: clarify development dependency requirements in webview README
  packages/webview/README.md
Due: prettier --write

refactor: update README files to include full package names for dependencies
  packages/core/README.md
  packages/extension-api/README.md
Due: prettier --write

refactor: remove unnecessary extension from VSCode recommendations
  .vscode/extensions.json
Due: prettier --write
