Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,md,json}": "prettier --write",
  "./client/**/*.{ts,tsx}": "eslint --cache --fix",
  "./client/**/*.{ts,tsx,css,md,json}": "prettier --write"
}

fix: update DialogModal and ColorPicker components for consistent styling
  packages/webview/package.json
  packages/webview/src/app/dashboard/Dashboard.tsx
  packages/webview/src/app/home/Home.tsx
  packages/webview/src/app/upload/Upload.tsx
  packages/webview/src/core/components/Accordion/AccordionActionsSVG/AccordionActionsSVG.tsx
  packages/webview/src/core/components/Accordion/AccordionMenuItem/AccordionMenuItem.style.tsx
  packages/webview/src/core/components/Accordion/AccordionMenuItem/AccordionMenuItem.tsx
  packages/webview/src/core/components/Backdrop/BackdropZone.tsx
  packages/webview/src/core/components/Cards/CardSvg/CardSvg.tsx
  packages/webview/src/core/components/DevTools/InfoComponent/InfoComponent.tsx
  packages/webview/src/core/components/Drawer/NavigationDrawer/NavigationDrawer.tsx
  packages/webview/src/core/components/SpeedDial/DraggableSpeedDial/DraggableSpeedDial.tsx
  packages/webview/src/core/components/modals/DialogFilesModal.tsx
  packages/webview/src/core/components/modals/DialogInfoModal.tsx
  packages/webview/src/core/components/modals/DialogModal.tsx
  packages/webview/src/core/components/vs/ColorPicker/ColorPicker.tsx
  packages/webview/src/features/dashboard/components/SearchBar/SearchBar.style.tsx
  packages/webview/src/features/home/components/DropZone/DropZone.tsx
  packages/webview/src/features/upload/components/FileList.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: optimize runScanningWorkspace by removing redundant viewExportStore.clear() call
  packages/extension/src/commands/scanning.ts
Due: eslint --cache --fix, prettier --write

refactor: rename renderPath to renderRoute and update related logic
  packages/webview/src/core/hooks/useRouteManager.tsx
  packages/webview/src/core/hooks/useViewPanels.tsx
  packages/webview/src/features/home/components/DropZone/DropZone.tsx
  packages/webview/src/features/upload/hooks/useUpload.tsx
  packages/webview/src/providers/Configuration.tsx
  packages/webview/src/store/features/global/slice.ts
  packages/webview/src/store/features/global/state.ts
  packages/webview/src/store/types/global.d.ts
Due: eslint --cache --fix, prettier --write

refactor: remove unused schema associations from material icon theme settings
  .vscode/settings.json
Due: prettier --write

refactor: streamline color handling in ColorPicker and useColorPicker hooks
  packages/webview/src/core/components/vs/ColorPicker/ColorPicker.tsx
  packages/webview/src/core/hooks/vs/useColorPicker.tsx
  packages/webview/src/core/types/components/vs/ColorPicker.d.ts
  packages/webview/src/core/utils/vs/color.ts
  packages/webview/src/providers/Snackbar.tsx
Due: eslint --cache --fix, prettier --write

refactor: simplify theme handling by removing showNoThemeMessage method and directly initializing theme
  packages/extension/src/messaging/handlers/editor/RequestEditorExtensionThemeHandler.ts
Due: eslint --cache --fix, prettier --write

refactor: implement FilesCache for improved file management and caching
  packages/extension/src/commands/cache.ts
  packages/extension/src/messaging/handlers/devtools/EditComponentInPlaygroundHandler.ts
  packages/extension/src/messaging/handlers/icons/AddIconToCollectionHandler.ts
  packages/extension/src/messaging/handlers/icons/RemoveIconFromCollectionHandler.ts
  packages/extension/src/messaging/handlers/ui/ReloadComponentHandler.ts
  packages/extension/src/services/cache/FilesCache.ts
  packages/extension/src/services/cache/IconCollectionCache.ts
  packages/extension/src/services/cache/ViewExportSVGCache.ts
  packages/extension/src/services/cache/createFactories.ts
  packages/extension/src/services/getIconsCollection.ts
  packages/extension/src/test/adapters/fsAdapter.ts
  packages/extension/src/test/suite/services/cache/FilesCache.test.ts
  packages/extension/src/utilities/files/processFiles.ts
  packages/extension/src/utilities/svg/extracts.ts
Due: eslint --cache --fix, prettier --write

refactor: update TypeScript configuration to use node16 module and resolution
  packages/extension/tsconfig.json
Due: prettier --write

refactor: remove loadViewExports function and related calls to streamline server initialization
  packages/server/src/bootstrap/load-view-exports.ts
  packages/server/src/core/vscode-setup.ts
  packages/server/src/main.ts
Due: eslint --cache --fix, prettier --write

refactor: implement lazy loading for modals and context menus to optimize performance
  packages/webview/src/core/components/Accordion/AccordionActionsSVG/actions/FilesAction.tsx
  packages/webview/src/core/components/Accordion/AccordionActionsSVG/actions/InfoAction.tsx
  packages/webview/src/core/components/Accordion/AccordionMenuItem/AccordionMenuItem.tsx
  packages/webview/src/core/components/Accordion/index.ts
  packages/webview/src/core/components/Cards/CardSvgRenderMemo/CardSvgRenderMemo.tsx
  packages/webview/src/core/components/Cards/CardSvgRenderMemo/ContextMenu.tsx
  packages/webview/src/core/components/modals/DialogFilesModal.tsx
  packages/webview/src/core/components/modals/DialogInfoModal.tsx
  packages/webview/src/features/dashboard/components/ContainerComponents/ContainerComponents.tsx
  packages/webview/src/features/home/components/ContainerIcons/ContainerIcons.tsx
Due: eslint --cache --fix, prettier --write

refactor: streamline file handling and messaging by removing unused components and optimizing data retrieval
  package.json
  packages/core/src/constants/messages.ts
  packages/core/src/types/messaging/post.d.ts
  packages/core/src/types/messaging/receive.d.ts
  packages/extension/src/commands/scanning.ts
  packages/extension/src/commands/showMenu.ts
  packages/extension/src/messaging/handlers/devtools/EditComponentInPlaygroundHandler.ts
  packages/extension/src/messaging/handlers/files/OpenFileInEditorHandler.ts
  packages/extension/src/messaging/handlers/files/RequestFileMetadataHandler.ts
  packages/extension/src/messaging/handlers/files/fileHandlers.ts
  packages/extension/src/messaging/handlers/ui/ProcessUploadedFilesHandler.ts
  packages/extension/src/messaging/handlers/ui/RequestFilesComponentsHandler.ts
  packages/extension/src/messaging/handlers/ui/uiHandlers.ts
  packages/extension/src/services/getIconsCollection.ts
  packages/extension/src/store/ViewExportStore.ts
  packages/extension/src/utilities/files/processFiles.ts
  packages/server/src/services/svg-loader-service.ts
  packages/webview/src/core/components/Cards/CardSvg/CardSvg.tsx
  packages/webview/src/core/components/modals/DialogFilesModal.tsx
  packages/webview/src/core/components/modals/DialogInfoModal.tsx
  packages/webview/src/core/hooks/useCardSvg.tsx
  packages/webview/src/features/dashboard/hooks/useDashboard.tsx
  packages/webview/src/features/home/hooks/useHome.tsx
Due: eslint --cache --fix, prettier --write

refactor: enhance file grouping logic to include absolute path in label when applicable
  packages/extension/src/utilities/files/processFiles.ts
Due: eslint --cache --fix, prettier --write

refactor: add extra reducer for setRenderRoute to reset SVG state
  packages/webview/src/store/features/svg/slice.ts
Due: eslint --cache --fix, prettier --write

refactor: update Portal container prop to use a function for dynamic element retrieval
  packages/webview/src/core/components/DevTools/Menu/MenuTools/MenuTools.tsx
Due: eslint --cache --fix, prettier --write

refactor: simplify CardSvg component by removing handleClick and optimizing toggleFavorite logic
  packages/webview/src/core/components/Cards/CardSvg/CardSvg.tsx
  packages/webview/src/core/hooks/useCardSvg.tsx
Due: eslint --cache --fix, prettier --write

refactor: optimize handleToggleFavorite logic and improve key generation for CardSvgRenderMemo
  packages/webview/src/core/hooks/useCardSvg.tsx
  packages/webview/src/features/home/components/ContainerIcons/ContainerIcons.tsx
Due: eslint --cache --fix, prettier --write

refactor: update .gitignore to include /docs and add CLAUDE.md for project guidance
  .gitignore
  CLAUDE.md
Due: prettier --write

refactor: enhance icon collection handling and add ClearCollectionAction component with localization support
  packages/extension/src/messaging/createRouter.ts
  packages/extension/src/messaging/handlers/icons/ClearIconCollectionHandler.ts
  packages/extension/src/messaging/handlers/icons/iconsHandler.ts
  packages/extension/src/services/cache/ViewExportSVGCache.ts
  packages/webview/src/__tests__/core/components/ClearCollectionAction.test.tsx
  packages/webview/src/assets/icons/functionalities/clear.tsx
  packages/webview/src/core/components/Accordion/AccordionActionsSVG/AccordionActionsSVG.tsx
  packages/webview/src/core/components/Accordion/AccordionActionsSVG/actions/ClearCollectionAction.tsx
  packages/webview/src/core/hooks/useCardSvg.tsx
  packages/webview/src/features/home/components/ContainerIcons/ContainerIcons.tsx
  packages/webview/src/features/home/hooks/useHome.tsx
  packages/webview/src/i18n/locales/cs.json
  packages/webview/src/i18n/locales/de.json
  packages/webview/src/i18n/locales/en.json
  packages/webview/src/i18n/locales/es.json
  packages/webview/src/i18n/locales/fr.json
  packages/webview/src/i18n/locales/it.json
  packages/webview/src/i18n/locales/ja.json
  packages/webview/src/i18n/locales/ko.json
  packages/webview/src/i18n/locales/pl.json
  packages/webview/src/i18n/locales/pt-br.json
  packages/webview/src/i18n/locales/ru.json
  packages/webview/src/i18n/locales/tr.json
  packages/webview/src/i18n/locales/zh-cn.json
  packages/webview/src/i18n/locales/zh-tw.json
Due: eslint --cache --fix, prettier --write

refactor: update axios dependency to version 1.15.0 and adjust related lockfile entries
  packages/webview/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: update @codingame dependencies to version 30.0.1 in package.json and pnpm-lock.yaml
  packages/server/package.json
  packages/webview/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: add localization files for common phrases, errors, dev tools, home, and upload functionalities
  packages/webview/src/i18n/locales/en/common.json
  packages/webview/src/i18n/locales/en/dev-tools.editor.json
  packages/webview/src/i18n/locales/en/dev-tools.json
  packages/webview/src/i18n/locales/en/errors.json
  packages/webview/src/i18n/locales/en/home.json
  packages/webview/src/i18n/locales/en/upload.json
Due: prettier --write

refactor: add JSON schema files for localization of common phrases, errors, dev tools, home, and upload functionalities
  schemas/webview/common.schema.json
  schemas/webview/dev-tools.editor.schema.json
  schemas/webview/dev-tools.schema.json
  schemas/webview/errors.schema.json
  schemas/webview/home.schema.json
  schemas/webview/upload.schema.json
Due: prettier --write

Refactor translation keys for consistency and clarity across components
  packages/webview/src/app/upload/Upload.tsx
  packages/webview/src/core/components/Accordion/AccordionActionsSVG/actions/ClearCollectionAction.tsx
  packages/webview/src/core/components/Accordion/AccordionActionsSVG/actions/InfoAction.tsx
  packages/webview/src/core/components/Accordion/AccordionActionsSVG/actions/RefreshAction.tsx
  packages/webview/src/core/components/Backdrop/BackdropZone.tsx
  packages/webview/src/core/components/Buttons/OpenFileButton.tsx
  packages/webview/src/core/components/DevTools/DevTools.tsx
  packages/webview/src/core/components/DevTools/InfoComponent/InfoComponent.tsx
  packages/webview/src/core/components/DevTools/Menu/MenuMoreActions/MenuMoreActions.tsx
  packages/webview/src/core/components/DevTools/Menu/MenuTools/MenuTools.tsx
  packages/webview/src/core/components/DevTools/Playground/Playground.tsx
  packages/webview/src/core/components/LoadingPage/LoadingPage.tsx
  packages/webview/src/core/components/SVG/RenderSvg/RenderSvg.tsx
  packages/webview/src/core/components/modals/DialogFilesModal.tsx
  packages/webview/src/core/components/modals/DialogInfoModal.tsx
  packages/webview/src/core/components/modals/DialogModal.tsx
  packages/webview/src/core/hooks/DevTools/usePlayground.tsx
  packages/webview/src/core/hooks/useCardSvg.tsx
  packages/webview/src/core/hooks/useContextMenuSVG.tsx
  packages/webview/src/core/hooks/useLoadFiles.tsx
  packages/webview/src/core/hooks/useSVGActions.tsx
  packages/webview/src/core/hooks/vs/useEditor.tsx
  packages/webview/src/core/utils/DevTools/completionComponentsManager.ts
  packages/webview/src/core/utils/DevTools/completionPropertiesManager.ts
  packages/webview/src/core/utils/vs/Editor/createEditor.ts
  packages/webview/src/core/utils/vs/Editor/extensions/theme.ts
  packages/webview/src/features/dashboard/components/SearchBar/SearchBar.tsx
  packages/webview/src/features/home/components/DropZone/DropZone.tsx
  packages/webview/src/features/upload/components/FileList.tsx
  packages/webview/src/features/upload/hooks/useUpload.tsx
  packages/webview/src/i18n/index.ts
  packages/webview/src/main.tsx
  packages/webview/src/services/vscode/index.ts
  packages/webview/src/utils/errors.ts
Due: eslint --cache --fix, prettier --write

refactor: update localization schemas and remove obsolete files
  .vscode/settings.json
  packages/webview/src/i18n/locales/en.json
  schemas/i18n.schema.json
Due: prettier --write

refactor: add "ProcessingFiles" localization key to multiple language files
  packages/webview/src/i18n/locales/cs.json
  packages/webview/src/i18n/locales/de.json
  packages/webview/src/i18n/locales/es.json
  packages/webview/src/i18n/locales/fr.json
  packages/webview/src/i18n/locales/it.json
  packages/webview/src/i18n/locales/ja.json
  packages/webview/src/i18n/locales/ko.json
  packages/webview/src/i18n/locales/pl.json
  packages/webview/src/i18n/locales/pt-br.json
  packages/webview/src/i18n/locales/ru.json
  packages/webview/src/i18n/locales/tr.json
  packages/webview/src/i18n/locales/zh-cn.json
  packages/webview/src/i18n/locales/zh-tw.json
Due: prettier --write

refactor: add locale migration script for language files and error handling
  scripts/migrate-locales.mjs
Due: none

refactor: remove obsolete locale migration script
  scripts/migrate-locales.mjs
Due: none

refactor: update Docusaurus dependencies to version 3.10.0 and dompurify to 3.4.0
  packages/docs/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: update tsconfig.json to include compilerOptions for improved editor experience
  packages/docs/tsconfig.json
Due: prettier --write

feat: refactor icon collection management
  packages/core/src/types/svg/icon.d.ts
  packages/extension/package.json
  packages/extension/package.nls.cs.json
  packages/extension/package.nls.de.json
  packages/extension/package.nls.es.json
  packages/extension/package.nls.fr.json
  packages/extension/package.nls.it.json
  packages/extension/package.nls.ja.json
  packages/extension/package.nls.json
  packages/extension/package.nls.ko.json
  packages/extension/package.nls.pl.json
  packages/extension/package.nls.pt-br.json
  packages/extension/package.nls.ru.json
  packages/extension/package.nls.tr.json
  packages/extension/package.nls.zh-cn.json
  packages/extension/package.nls.zh-tw.json
  packages/extension/src/messaging/handlers/icons/AddIconToCollectionHandler.ts
  packages/extension/src/services/cache/IconCollectionCache.ts
  packages/extension/src/services/cache/createFactories.ts
  packages/extension/src/services/config/IconCollectionConfig.ts
  packages/extension/src/services/config/RecentIconsConfig.ts
  packages/extension/src/services/config/base/createConfigs.ts
  packages/extension/src/services/getIconsCollection.ts
  packages/extension/src/test/suite/services/cache/IconCollectionCache.test.ts
  packages/extension/src/test/suite/services/config/IconCollectionConfig.test.ts
  packages/extension/src/views/WebviewContent.ts
  packages/webview/index.html
  packages/webview/src/__tests__/setup.ts
  packages/webview/src/store/features/global/state.ts
  packages/webview/src/store/types/global.d.ts
  packages/webview/src/types.d.ts
  schemas/nls.schema.json
Due: eslint --cache --fix, prettier --write

refactor: skip temporary files in assets path management
  packages/extension/src/services/config/AssetsPathsConfig.ts
Due: eslint --cache --fix, prettier --write

refactor: replace minimatch with micromatch for pattern matching and add tests for matchesPattern utility
  packages/extension/package.json
  packages/extension/src/test/suite/utilities/files/groupIconsByPattern.test.ts
  packages/extension/src/test/suite/utilities/files/misc.test.ts
  packages/extension/src/utilities/files/groupIconsByPattern.ts
  packages/extension/src/utilities/misc.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

chore: update biome schema version to 2.4.15 across configuration files and package dependencies
  biome.json
  biome.react.json
  package.json
  packages/core/biome.json
  packages/docs/biome.json
  packages/extension/biome.json
  packages/server/biome.json
  packages/webview/biome.json
  pnpm-lock.yaml
Due: prettier --write

Refactor code structure for improved readability and maintainability
  packages/docs/package.json
  pnpm-lock.yaml
Due: prettier --write

Update css dependencies
  packages/docs/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update package dependencies to latest versions
  packages/webview/package.json
  patches/react-colorful@5.7.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

refactor: reorder import statements for consistency
  packages/webview/src/core/types/components/Select/SelectPickerColor.d.ts
Due: eslint --cache --fix, prettier --write
