Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

feat: add Algolia site verification meta tag to headTags in Docusaurus config
  docs/docusaurus.config.ts
Due: eslint --cache --fix, prettier --write

feat(theme): add development mode theme activation
  client/plugins/remove-public-dev-folder.ts
  client/public/dev/vs/theme/default-theme-one-dark.json
  client/src/core/utils/vs/Editor/extensions/theme.dev.ts
  client/src/core/utils/vs/Editor/extensions/theme.ts
  client/vite.config.ts
Due: eslint --cache --fix, prettier --write

fix: set assetsInlineLimit to 0 in Vite configuration
  client/vite.config.ts
Due: eslint --cache --fix, prettier --write

fix: correct typo in worker configuration from rollupOptions to rolldownOptions
  client/vite.config.ts
Due: eslint --cache --fix, prettier --write

feat: implement file removal plugin and replace deprecated public dev folder removal
  client/plugins/remove-files.ts
  client/plugins/remove-public-dev-folder.ts
  client/vite.config.ts
Due: eslint --cache --fix, prettier --write

fix: destructure manifest properties for clarity in theme activation
  client/src/core/utils/vs/Editor/extensions/theme.ts
Due: eslint --cache --fix, prettier --write

fix: handle empty components array in completion item provider
  client/src/core/utils/DevTools/completionComponentsManager.ts
Due: eslint --cache --fix, prettier --write

chore: update TypeScript target versions to ES2022 and ES2023 in configuration files
  client/tsconfig.app.json
  client/tsconfig.node.json
  client/vite.config.ts
Due: eslint --cache --fix, prettier --write

refactor: migrate from webpack to vite for development and build processes
  client/package.json
  client/webpack.config.js
  client/webpack.dev.js
Due: prettier --write

chore: update dependencies to latest versions
  client/package-lock.json
  client/package.json
Due: prettier --write

chore: remove VSCode settings file
  client/.vscode/settings.json
Due: prettier --write

chore: update .vscodeignore to include schemas directory and remove index.html
  .vscodeignore
Due: none

chore: remove Prettier and ESLint configurations, add Biome configuration
  client/.prettierignore
  client/.prettierrc
  client/biome.json
  client/eslint.config.mjs
  client/package-lock.json
  client/package.json
Due: prettier --write

chore: update biome.json to add correctness and suspicious rules for linter
  docs/biome.json
Due: prettier --write

chore: update biome and package configurations to use latest versions of dependencies
  docs/biome.json
  docs/package-lock.json
  docs/package.json
Due: prettier --write

chore: update version numbers in package.json and package-lock.json for client and docs
  client/package-lock.json
  client/package.json
  docs/package-lock.json
  docs/package.json
Due: prettier --write

chore: update biome version to 2.4.2 in package.json and package-lock.json for client and docs
  client/biome.json
  client/package-lock.json
  client/package.json
  docs/biome.json
  docs/package-lock.json
  docs/package.json
Due: prettier --write

chore: add "root" property to biome.json files for consistency
  client/biome.json
  docs/biome.json
Due: prettier --write

chore: simplify lint-staged configuration to use biome for all file types
  .lintstagedrc
Due: none

chore: update lint-staged configuration to include additional biome options
  .lintstagedrc
Due: none

chore: remove unused prettier formatting scripts from package.json
  package.json
Due: prettier --write

chore: update TypeScript configuration to target ES2022
  tsconfig.esm.json
  tsconfig.json
  tsconfig.types.json
Due: prettier --write

chore: update dependencies and VSCode engine version
  package-lock.json
  package.json
Due: prettier --write

test: update expected timestamp in getFileTimestamp test case
  src/test/suite/utilities/files/misc.test.ts
Due: eslint --cache --fix, prettier --write

fix: update last scan date in workspace settings
  workspaceTest.code-workspace
Due: none

fix: update SVG support links in documentation and remove obsolete SVG SUPPORT.md file
  LEARN.md
  README.md
  SVG SUPPORT.md
Due: prettier --write

fix: enhance security policy with detailed reporting guidelines and best practices
  SECURITY.md
Due: prettier --write

fix: update Visual Studio Code version requirement to 1.109.0 or later
  docs/docs/getting-started/installation.mdx
Due: none

fix: enhance LEARN.md with updated features and usage instructions
  LEARN.md
Due: prettier --write

fix: update package.json and package-lock.json with correct project name and metadata
  docs/package-lock.json
  docs/package.json
Due: prettier --write

fix: update version to 4.1.0 in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

fix: remove inline style for info panel background color in DevTools component
  client/src/core/components/DevTools/DevTools.tsx
Due: eslint --cache --fix, prettier --write

fix: update .vscodeignore for improved file exclusion and organization; update last scan date in workspace settings
  .vscodeignore
  workspaceTest.code-workspace
Due: none

chore: update CHANGELOG.md for version 4.1.0 with new features, enhancements, bug fixes, performance improvements, breaking changes, and documentation updates
  CHANGELOG.md
Due: prettier --write

fix: remove unnecessary separator before version 4.0.2 in CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

feat: add comprehensive project refactoring proposal for monorepo architecture
  REFACTORING_PROPOSAL.md
Due: prettier --write

feat: implement core module with enums, types, and configuration for SVG exports
  packages/core/.gitignore
  packages/core/package.json
  packages/core/src/enums/ViewExportsSVG.ts
  packages/core/src/enums/cache.ts
  packages/core/src/enums/index.ts
  packages/core/src/index.ts
  packages/core/src/types/ViewExportsSVG.d.ts
  packages/core/src/types/cache.d.ts
  packages/core/src/types/index.d.ts
  packages/core/src/types/misc.d.ts
  packages/core/src/types/properties/propertyValues.d.ts
  packages/core/src/types/svg/SVGComponent.d.ts
  packages/core/src/types/svg/extracts.d.ts
  packages/core/src/types/svg/is-animate.d.ts
  packages/core/src/types/svg/tags.d.ts
  packages/core/src/types/views/PostMessage.d.ts
  packages/core/src/types/views/ReceiveMessage.d.ts
  packages/core/src/types/views/content.d.ts
  packages/core/src/types/vscode.d.ts
  packages/core/tsconfig.json
  tsconfig.base.json
Due: eslint --cache --fix, prettier --write

feat: add type definitions for SVG processing, including error handling and file metadata
  packages/core/src/types/common/error.d.ts
  packages/core/src/types/common/file.d.ts
  packages/core/src/types/common/index.d.ts
  packages/core/src/types/common/location.d.ts
  packages/core/src/types/utils.d.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: (any of: *.{ts,tsx}) or (any of: ./client/**/*.{ts,tsx})
  prettier --write: (any of: *.{ts,tsx,css,md,json}) or (any of: ./client/**/*.{ts,tsx,css,md,json})
