Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

feat: enhance editor initialization and update handling with onChange support
  client/src/core/hooks/vs/useEditor.tsx
  client/src/core/utils/vs/Editor/createEditor.ts
Due: eslint --cache --fix, prettier --write

fix: correct variable reference in SVG extraction handling
  src/utilities/svg/extracts.ts
Due: eslint --cache --fix, prettier --write

feat: add clear cache command and related localization support
  l10n.schema.json
  l10n/bundle.l10n.json
  nls.schema.json
  package.json
  package.nls.json
  src/commands/cache.ts
  src/commands/index.ts
  src/extension.ts
Due: eslint --cache --fix, prettier --write

feat: add recentlySelectedName to Playground state and update useCodeEditor hook
  client/src/modules/Home/hooks/useCodeEditor.tsx
  client/src/store/features/PlaygroundSlice.ts
  client/src/types/store/features/PlaygroundSlice.d.ts
Due: eslint --cache --fix, prettier --write

feat: enhance AccordionMenuItem with hideActionsWhenCollapsed prop and state management fix: correct font-size calculation in MenuTools styles fix: set default font-family in globals.css
  client/src/core/components/Accordion/AccordionMenuItem/AccordionMenuItem.tsx
  client/src/modules/Home/components/DevTools/DevTools.tsx
  client/src/modules/Home/components/DevTools/Menu/MenuTools/MenuTools.style.tsx
  client/src/styles/globals.css
Due: eslint --cache --fix, prettier --write

feat: add word wrap toggle functionality to MenuTools and update localization
  client/src/i18n/en.json
  client/src/modules/Home/components/DevTools/Menu/MenuTools/MenuTools.tsx
  client/src/modules/Home/hooks/useMenuTools.tsx
Due: eslint --cache --fix, prettier --write

feat: update error handling and localization in playground and useCodeEditor hooks
  client/src/i18n/en.json
  client/src/modules/Home/hooks/useCodeEditor.tsx
  client/src/modules/Home/hooks/useMenuTools.tsx
  src/constants/regex.ts
  src/utilities/svg/playground.ts
Due: eslint --cache --fix, prettier --write

feat: streamline getExtensionTheme method and ensure theme initialization in vscode setup
  server/src/controllers/settings.controller.ts
  server/src/vscode.ts
Due: eslint --cache --fix, prettier --write

feat: update environment configuration and enhance module imports for better organization
  server/.env.example
  server/deno.json
  server/src/controllers/icons.controller.ts
  server/src/controllers/settings.controller.ts
  server/src/controllers/svg.controller.ts
  server/src/mocks/EnvironmentVariableCollection.mock.ts
  server/src/mocks/extensionContext.mock.ts
  server/src/types.d.ts
  server/src/vscode.ts
Due: eslint --cache --fix, prettier --write

feat: optimize toggleExpanded logic and remove redundant useEffect for icon state management
  client/src/modules/Home/hooks/useContainerComponents.tsx
Due: eslint --cache --fix, prettier --write

chore: update dependencies to version 17.1.1 in package.json
  client/package-lock.json
  client/package.json
  client/src/core/hooks/vs/useEditor.tsx
  client/src/core/types/components/vs/Editor.d.ts
  client/src/core/utils/vs/Editor/completionItemProviders/createInserts.ts
  client/src/core/utils/vs/Editor/createEditor.ts
  client/src/core/utils/vs/Editor/extensions/default.ts
  client/src/core/utils/vs/Editor/extensions/init.ts
  client/src/core/utils/vs/Editor/index.ts
  client/src/i18n/en.json
  client/src/modules/Home/components/DevTools/CodeEditor/CodeEditor.tsx
  client/src/modules/Home/hooks/useCodeEditor.tsx
  client/src/modules/Home/utils/completionComponentsManager.ts
  client/src/store/features/PlaygroundSlice.ts
  client/src/types/ViewExportsSVG.d.ts
  client/src/types/misc.d.ts
  client/src/types/store/features/PlaygroundSlice.d.ts
  client/src/vite-env.d.ts
  client/webpack.config.js
  package.json
  server/src/app.ts
  server/src/controllers/file.controller.ts
  server/src/routes/file.routes.ts
  src/interfaces/ViewExportsSVG.d.ts
  src/interfaces/misc.d.ts
  src/utilities/files/misc.ts
  src/utilities/svg/analyze.ts
  src/utilities/svg/extracts.ts
  src/utilities/svg/playground.ts
  workspaceTest.code-workspace
Due: eslint --cache --fix, prettier --write

feat: refactor editor extension activation and improve theme handling
  client/src/core/utils/vs/Editor/createEditor.ts
  client/src/core/utils/vs/Editor/extensions/default.ts
  client/src/core/utils/vs/Editor/extensions/init.ts
  client/src/core/utils/vs/Editor/extensions/theme.ts
  client/src/i18n/en.json
  src/commands/showMenu.ts
Due: eslint --cache --fix, prettier --write

refactor: remove unused translation and related error handling in useCodeEditor hook
  client/src/i18n/en.json
  client/src/modules/Home/hooks/useCodeEditor.tsx
Due: eslint --cache --fix, prettier --write

feat: enhance code editor with properties completion and improve completion management
  client/src/core/hooks/vs/useEditor.tsx
  client/src/core/types/components/vs/Editor.d.ts
  client/src/core/utils/vs/Editor/createEditor.ts
  client/src/i18n/en.json
  client/src/modules/Home/hooks/useCodeEditor.tsx
  client/src/modules/Home/utils/completionComponentsManager.ts
  client/src/modules/Home/utils/completionPropertiesManager.ts
  package.json
  src/interfaces/misc.d.ts
  src/utilities/vscode/extensions/theme.ts
  workspaceTest.code-workspace
Due: eslint --cache --fix, prettier --write

feat: add support for rest props in SVG components and enhance documentation
  client/src/i18n/en.json
  client/src/modules/Home/hooks/useCodeEditor.tsx
  client/src/modules/Home/utils/completionComponentsManager.ts
  package.json
  src/interfaces/ViewExportsSVG.d.ts
  src/utilities/svg/analyze.ts
  src/utilities/svg/extracts.ts
Due: eslint --cache --fix, prettier --write

feat: enhance SVG component generation by correctly assigning rest props
  src/utilities/svg/playground.ts
Due: eslint --cache --fix, prettier --write

feat: add value zone detection in completion properties manager
  client/src/modules/Home/utils/completionPropertiesManager.ts
Due: eslint --cache --fix, prettier --write

feat: enhance SVG component documentation with dynamic preview and customization details
  client/src/i18n/en.json
Due: prettier --write

feat: update ESLint configuration to include additional ignore patterns
  client/eslint.config.mjs
Due: none

chore: update dependencies to latest versions for improved stability and features
  client/package-lock.json
  client/package.json
Due: prettier --write

feat: add error handling in RenderSvg component with alert notifications
  client/src/modules/Home/components/SVG/RenderSvg/RenderSvg.tsx
Due: eslint --cache --fix, prettier --write

fix: improve error handling in IconsController for missing workspace folders
  server/src/controllers/icons.controller.ts
Due: eslint --cache --fix, prettier --write

fix: update imports to use dashboard hooks instead of home hooks
  client/src/modules/dashboard/components/Cards/CardSvg/CardSvg.tsx
  client/src/modules/dashboard/components/DevTools/CodeEditor/CodeEditor.tsx
  client/src/modules/dashboard/components/DevTools/Menu/MenuTools/MenuTools.tsx
  client/src/modules/dashboard/components/DevTools/Playground/Playground.tsx
Due: eslint --cache --fix, prettier --write

fix: improve error logging in requestCurl method by using getUnknownError
  client/src/services/vscode/VSCodeInternal.ts
Due: eslint --cache --fix, prettier --write

feat: implement initial render path configuration and route management for home and dashboard
  client/index.html
  client/src/app/Layouts/RouteManager.tsx
  client/src/app/Layouts/main.tsx
  client/src/app/home/Home.classes.ts
  client/src/app/home/Home.style.tsx
  client/src/app/home/Home.tsx
  client/src/config/routes/route.ts
  client/src/providers/Configuration.tsx
  client/src/store/features/GlobalSlice.ts
  client/src/types/ViewExportsSVG.d.ts
  client/src/types/store/features/GlobalSlice.d.ts
  client/src/vite-env.d.ts
  src/commands/showMenu.ts
  src/controllers/listener/ListerWebviewController.ts
  src/controllers/views/ViewExportsSVGController.ts
  src/enum/ViewExportsSVG.ts
  src/interfaces/views/PostMessage.d.ts
  src/utilities/files/scanning.ts
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

feat: add toggleViewActions command to manage visibility of view actions in the editor
  package.json
  src/commands/editorTitleActions.ts
  src/controllers/listener/ListerWebviewController.ts
  src/controllers/views/ViewExportsSVGController.ts
Due: eslint --cache --fix, prettier --write

feat: implement recent icons feature with ResizableBox and RecentContainer components
  client/i18n.schema.json
  client/index.html
  client/src/app/dashboard/Dashboard.tsx
  client/src/app/home/Home.style.tsx
  client/src/app/home/Home.tsx
  client/src/core/components/Resizable/ResizableBox.tsx
  client/src/core/hooks/useResizableBox.tsx
  client/src/i18n/en.json
  client/src/modules/dashboard/components/Resizable/ResizableDashboard.tsx
  client/src/modules/home/components/RecentContainer/RecentContainer.classes.ts
  client/src/modules/home/components/RecentContainer/RecentContainer.style.tsx
  client/src/modules/home/components/RecentContainer/RecentContainer.tsx
  client/src/modules/home/hooks/useRecentContainer.tsx
  client/src/store/features/GlobalSlice.ts
  client/src/types/store/features/GlobalSlice.d.ts
  client/src/vite-env.d.ts
  src/controllers/listener/ListerWebviewController.ts
  src/utilities/icons/getIconsFromCache.ts
  src/views/WebviewContent.ts
Due: eslint --cache --fix, prettier --write

chore: update dependencies in package.json
  client/eslint.config.mjs
  client/package-lock.json
  client/package.json
Due: prettier --write

refactor: move @stylistic/eslint-plugin to devDependencies in package.json
  client/package-lock.json
  client/package.json
Due: prettier --write

chore: update dependencies in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

chore: update dependencies in package.json
  client/package-lock.json
  client/package.json
Due: prettier --write

chore: update dependencies in package.json and modify last scan date in workspaceTest.code-workspace
  package-lock.json
  package.json
  workspaceTest.code-workspace
Due: prettier --write

refactor: simplify undefined checks across multiple files
  client/src/modules/dashboard/components/ContainerComponents/ContainerComponents.tsx
  client/src/services/vscode/VSCodeInternal.ts
  client/src/services/vscode/index.ts
  src/controllers/cache/FileModifiedCacheController.ts
  src/controllers/config/AssetsPathsController.ts
  src/test/suite/main.test.ts
  src/utilities/files/processFiles.ts
  src/utilities/icons/getIconsFromCache.ts
  src/utilities/properties/propertyManager.ts
  src/utilities/svg/playground.ts
  src/utilities/vscode/config.ts
Due: eslint --cache --fix, prettier --write

feat: add Deno launch configuration and update existing settings
  .vscode/launch.json
  server/.vscode/launch.json
Due: prettier --write

refactor: improve code structure and readability in SVG extraction functions
  src/utilities/svg/extracts.ts
Due: eslint --cache --fix, prettier --write

feat: integrate model service override in VSCode extension initialization
  server/deno.json
  server/src/vscode.ts
Due: eslint --cache --fix, prettier --write

feat: integrate getIconsFromCache utility in IconsController and update type definitions
  server/src/controllers/icons.controller.ts
  server/src/types.d.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,md,json}
