Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

fix: prevent rendering of MenuMoreActions when no component is selected
  client/src/core/components/DevTools/Menu/MenuMoreActions/MenuMoreActions.tsx
Due: eslint --cache --fix, prettier --write

feat: add 'Open in editor' action to MenuMoreActions and update i18n schema
  client/i18n.schema.json
  client/src/core/components/DevTools/Menu/MenuMoreActions/MenuMoreActions.tsx
  client/src/core/hooks/useSVGActions.tsx
  client/src/i18n/en.json
Due: eslint --cache --fix, prettier --write

fix: update context menu event to allow interaction with card SVG elements
  client/src/main.tsx
Due: eslint --cache --fix, prettier --write

feat: implement context menu for CardSvgRenderMemo and enhance hover styles in data display
  client/src/core/components/Cards/CardSvgRenderMemo/CardSvgRenderMemo.tsx
  client/src/core/components/Cards/CardSvgRenderMemo/ContextMenu.tsx
  client/src/styles/theme/Customizations/dataDisplay.tsx
Due: eslint --cache --fix, prettier --write

fix: reorder class manipulation for panel min height in useDevTools hook
  client/src/core/hooks/DevTools/useDevTools.tsx
Due: eslint --cache --fix, prettier --write

feat: add info component to i18n schema and translations
  client/i18n.schema.json
  client/src/core/components/DevTools/DevTools.tsx
  client/src/i18n/en.json
Due: eslint --cache --fix, prettier --write

chore: update dependencies to version 19.0.1 and minor updates for react-i18next, react-resizable-panels, and zod
  client/package-lock.json
  client/package.json
Due: prettier --write

fix: update refreshSVGComponents to clear both ComponentsFileCache and DeclarationFileCache
  server/src/controllers/svg.controller.ts
  src/controllers/handlers/SVGComponentHandler.ts
Due: eslint --cache --fix, prettier --write

fix: correct CSS structure by adding missing html:root selector and adjusting body styles
  client/src/styles/globals.css
Due: prettier --write

fix: correct CSS structure by removing redundant body selector from html:root
  client/src/styles/globals.css
Due: prettier --write

fix: add showErrors prop to RenderSvg for better error handling
  client/src/core/components/Cards/CardSvgRenderMemo/CardSvgRenderMemo.tsx
  client/src/core/components/SVG/RenderSvg/RenderSvg.tsx
Due: eslint --cache --fix, prettier --write

fix: ensure 'monaco-workbench' class is added in devActivate for proper theme application
  client/src/core/utils/vs/Editor/extensions/theme.ts
Due: eslint --cache --fix, prettier --write

fix: add InfoComponent and update i18n schema for improved DevTools functionality
  client/i18n.schema.json
  client/src/core/components/DevTools/DevTools.tsx
  client/src/core/components/DevTools/InfoComponent/InfoComponent.tsx
  client/src/i18n/en.json
Due: eslint --cache --fix, prettier --write

fix: update version to 4.0.0-alpha.1 and correct last scan date in workspace settings
  package.json
  workspaceTest.code-workspace
Due: prettier --write

feat: add unit tests for OpenFileButton, RenderSvg, ErrorBoundary, and Show components
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/src/__tests__/__mocks__/components.mock.ts
  client/src/__tests__/core/components/OpenFileButton.test.tsx
  client/src/__tests__/core/components/RenderSvg.test.tsx
  client/src/__tests__/core/helpers/errorBoundary.test.tsx
  client/src/__tests__/core/helpers/show.test.tsx
  client/src/__tests__/setup.ts
  client/src/assets/icons/functionalities.tsx
  client/src/assets/icons/indicators.tsx
  client/vitest.config.mts
Due: eslint --cache --fix, prettier --write

Add localization support for SVG export viewer extension in multiple languages
  package.nls.cs.json
  package.nls.de.json
  package.nls.es.json
  package.nls.fr.json
  package.nls.it.json
  package.nls.ja.json
  package.nls.ko.json
  package.nls.pl.json
  package.nls.pt-br.json
  package.nls.ru.json
  package.nls.tr.json
  package.nls.zh-cn.json
  package.nls.zh-tw.json
Due: prettier --write

feat: add Czech localization for SVG export viewer extension
  l10n/bundle.l10n.cs.json
Due: prettier --write

feat: add German localization for SVG export viewer extension
  l10n/bundle.l10n.de.json
Due: prettier --write

feat: add Spanish localization for SVG export viewer extension
  l10n/bundle.l10n.es.json
Due: prettier --write

feat: add French localization for SVG export viewer extension
  l10n/bundle.l10n.fr.json
Due: prettier --write

feat: add Italian localization for SVG export viewer extension
  l10n/bundle.l10n.it.json
Due: prettier --write

feat: add Japanese localization for SVG export viewer extension
  l10n/bundle.l10n.ja.json
Due: prettier --write

feat: add Korean localization for SVG export viewer extension
  l10n/bundle.l10n.ko.json
Due: prettier --write

feat: add Polish localization for SVG export viewer extension
  l10n/bundle.l10n.pl.json
Due: prettier --write

feat: add Brazilian Portuguese localization for SVG export viewer extension
  l10n/bundle.l10n.pt-br.json
Due: prettier --write

feat: add Russian localization for SVG export viewer extension
  l10n/bundle.l10n.ru.json
Due: prettier --write

feat: add Turkish localization for SVG export viewer extension
  l10n/bundle.l10n.tr.json
Due: prettier --write

feat: add Chinese localization for SVG export viewer extension
  l10n/bundle.l10n.zh-cn.json
Due: prettier --write

feat: add Traditional Chinese localization for SVG export viewer extension
  l10n/bundle.l10n.zh-tw.json
Due: prettier --write

fix: update package versions and remove unused yaml dependency
  client/package-lock.json
  package-lock.json
  package.json
Due: prettier --write

chore: update dependencies and add postinstall script
  client/package-lock.json
  client/package.json
Due: prettier --write

fix: remove unused prettier-eslint extension from recommendations
  .vscode/extensions.json
Due: prettier --write

feat: enhance pre-commit hook to validate Node.js version and run linters
  .husky/pre-commit
Due: none

fix: add husky node-version-cache.txt to .gitignore
  .gitignore
Due: none

Add internationalization support for multiple languages
  client/src/i18n/cs.json
  client/src/i18n/de.json
  client/src/i18n/es.json
  client/src/i18n/fr.json
  client/src/i18n/index.ts
  client/src/i18n/it.json
  client/src/i18n/ja.json
  client/src/i18n/ko.json
  client/src/i18n/pl.json
  client/src/i18n/pt-br.json
  client/src/i18n/ru.json
  client/src/i18n/tr.json
  client/src/i18n/zh-cn.json
  client/src/i18n/zh-tw.json
Due: eslint --cache --fix, prettier --write

fix: update compile and watch scripts to use consistent environment variable naming
  package.json
Due: prettier --write

fix: update route parameter syntax for icon routes
  server/src/routes/icons.routes.ts
Due: eslint --cache --fix, prettier --write

fix: add mountedRef to useSearchBar for proper component lifecycle management
  client/src/modules/dashboard/hooks/useSearchBar.tsx
Due: eslint --cache --fix, prettier --write

fix: enhance searchComponents to handle empty results with a user-friendly message
  server/src/controllers/svg.controller.ts
Due: eslint --cache --fix, prettier --write

fix: add wordWrap style to InfoComponent for better text handling
  client/src/core/components/DevTools/InfoComponent/InfoComponent.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,md,json}
