Repository JairTorres1003/JT-View-Exports-SVG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,css,md,json}": "prettier --write",
  "./client/**/*.{ts,tsx}": "eslint --cache --fix",
  "./client/**/*.{ts,tsx,css,md,json}": "prettier --write"
}

Refactor SVG and messaging types (#196)
  packages/core/README.md
  packages/core/package.json
  packages/core/src/constants/cache.ts
  packages/core/src/constants/declarations.ts
  packages/core/src/constants/index.ts
  packages/core/src/constants/messages.ts
  packages/core/src/enums/ViewExportsSVG.ts
  packages/core/src/enums/cache.ts
  packages/core/src/enums/index.ts
  packages/core/src/index.ts
  packages/core/src/types/ViewExportsSVG.d.ts
  packages/core/src/types/cache.d.ts
  packages/core/src/types/cache/icons.d.ts
  packages/core/src/types/cache/index.d.ts
  packages/core/src/types/editor/config.d.ts
  packages/core/src/types/editor/index.d.ts
  packages/core/src/types/editor/language.d.ts
  packages/core/src/types/editor/theme.d.ts
  packages/core/src/types/index.d.ts
  packages/core/src/types/messaging/base.d.ts
  packages/core/src/types/messaging/index.d.ts
  packages/core/src/types/messaging/post.d.ts
  packages/core/src/types/messaging/receive.d.ts
  packages/core/src/types/misc.d.ts
  packages/core/src/types/svg/SVGComponent.d.ts
  packages/core/src/types/svg/component.d.ts
  packages/core/src/types/svg/export.d.ts
  packages/core/src/types/svg/extracts.d.ts
  packages/core/src/types/svg/icon.d.ts
  packages/core/src/types/svg/index.d.ts
  packages/core/src/types/svg/is-animate.d.ts
  packages/core/src/types/svg/parsing.d.ts
  packages/core/src/types/utils.d.ts
  packages/core/src/types/views/PostMessage.d.ts
  packages/core/src/types/views/ReceiveMessage.d.ts
  packages/core/src/types/views/content.d.ts
Due: eslint --cache --fix, prettier --write

feat: add index.d.ts for type exports and update HandlerArgs type definition for flexibility
  packages/core/src/index.d.ts
  packages/core/src/types/utils.d.ts
Due: eslint --cache --fix, prettier --write

fix: replace 'rm -rf' with 'rimraf' in clean script for cross-platform compatibility
  packages/core/package.json
Due: prettier --write

chore: update dependencies in package.json
  package-lock.json
  package.json
Due: prettier --write

refactor: reorganize type imports in post and component definitions for clarity
  packages/core/src/types/messaging/post.d.ts
  packages/core/src/types/svg/component.d.ts
Due: eslint --cache --fix, prettier --write

refactor: remove index.d.ts and update index.ts to export types directly
  packages/core/src/index.d.ts
  packages/core/src/index.ts
Due: eslint --cache --fix, prettier --write

refactor: update messaging types and handlers for improved clarity and functionality
  client/src/services/vscode/VSCodeInternal.ts
  client/src/services/vscode/index.ts
  client/src/types/ViewExportsSVG.d.ts
  packages/core/src/types/messaging/base.d.ts
  packages/core/src/types/messaging/post.d.ts
  packages/core/src/types/messaging/receive.d.ts
  packages/core/src/types/utils.d.ts
  src/controllers/handlers/AssetsHandler.ts
  src/controllers/handlers/CacheHandler.ts
  src/controllers/handlers/ConfigurationHandler.ts
  src/controllers/handlers/SVGComponentHandler.ts
  src/controllers/handlers/UIHandler.ts
  src/controllers/listener/ListerWebviewController.ts
  src/controllers/listener/MessageRouterController.ts
Due: eslint --cache --fix, prettier --write

refactor: update import path for SVGLocation to improve module structure
  packages/core/src/types/svg/tags.d.ts
Due: eslint --cache --fix, prettier --write

refactor: clean up README and update TypeScript configuration for improved clarity and structure
  packages/core/README.md
  packages/core/package.json
  packages/core/tsconfig.json
Due: prettier --write

refactor: update README for consistency in project name formatting
  packages/core/README.md
Due: prettier --write

refactor: update README for improved clarity and structure of documentation site
  packages/docs/README.md
Due: prettier --write

chore: update package.json and add TypeScript configuration files for ESM and CJS builds
  packages/core/package.json
  packages/core/tsconfig.cjs.json
  packages/core/tsconfig.esm.json
  packages/core/tsconfig.json
  packages/core/tsconfig.types.json
Due: prettier --write

fix: correct typo in devDependencies for @types/node
  packages/core/package.json
Due: prettier --write

fix: update build completion message and add pretest script in package.json
  packages/extension/.gitignore
  packages/extension/esbuild.config.js
  packages/extension/package.json
  packages/extension/workspaceTest.code-workspace
Due: prettier --write

feat: add biome configuration and update package scripts for TypeScript development
  packages/extension/biome.json
  packages/extension/package.json
  packages/extension/scripts/prepare-readme.js
  packages/extension/test.md
  packages/extension/workspaceTest.code-workspace
Due: prettier --write

style: format plugins array for better readability in vite.config.ts
  packages/webview/vite.config.ts
Due: eslint --cache --fix, prettier --write

refactor: use dynamic prefix for build log messages in esbuild configuration
  packages/extension/esbuild.config.js
Due: none

refactor: update output paths and configurations for extension build process
  .vscode/launch.json
  CHANGELOG.md
  LICENSE
  README.md
  packages/extension/.vscodeignore
  packages/extension/CHANGELOG.md
  packages/extension/LICENSE
  packages/extension/esbuild.config.js
  packages/extension/package.json
  packages/extension/src/controllers/views/ViewExportsSVGController.ts
  packages/extension/src/utilities/vscode/extensions/theme.ts
  packages/extension/src/views/WebviewContent.ts
  packages/extension/tsconfig.json
  packages/extension/workspaceTest.code-workspace
  packages/webview/vite.config.ts
Due: eslint --cache --fix, prettier --write

refactor: convert CHANGELOG, LICENSE, and README to symlinks
  CHANGELOG.md
  LICENSE
  README.md
Due: prettier --write

refactor: convert CHANGELOG, LICENSE, and README to symlinks
  LICENSE
  packages/extension/LICENSE
Due: none

feat: add MIT License file to the project
  packages/LICENSE
Due: none

refactor: remove LICENSE files from packages
  packages/LICENSE
  packages/extension/LICENSE
Due: none

refactor: clean up .gitignore files across packages for consistency
  .gitignore
  packages/core/.gitignore
  packages/docs/.gitignore
  packages/extension/.gitignore
  packages/webview/.gitignore
Due: none

feat: add script to manage URLs in README files
  scripts/prepare-readme.js
Due: none

fix: update version to 4.1.0 and correct last scan date in workspace settings
  packages/extension/package.json
  packages/extension/workspaceTest.code-workspace
Due: prettier --write

refactor: update package.json for monorepo structure and add pnpm workspace configuration
  package.json
  pnpm-workspace.yaml
Due: prettier --write

refactor: remove unused tasks.json file from .vscode directory
  .vscode/tasks.json
Due: prettier --write

refactor: enhance README.md for clarity and organization
  packages/core/README.md
Due: prettier --write

refactor: update link to main README.md in webview README for accuracy
  packages/webview/README.md
Due: prettier --write

refactor: improve README.md formatting and organization for better readability
  packages/extension/README.md
Due: prettier --write

refactor: add extension API package and configuration files
  package.json
  packages/extension-api/.gitignore
  packages/extension-api/package.json
  packages/extension-api/tsconfig.json
  scripts/generate-extension-api-package.js
Due: prettier --write

feat: Add controllers for settings, SVG handling, and view management
  packages/server/.env.example
  packages/server/.gitignore
  packages/server/README.md
  packages/server/deno.json
  packages/server/src/app.ts
  packages/server/src/controllers/file.controller.ts
  packages/server/src/controllers/icons.controller.ts
  packages/server/src/controllers/settings.controller.ts
  packages/server/src/controllers/svg.controller.ts
  packages/server/src/controllers/view.controller.ts
  packages/server/src/libs/@babel/traverse/index.ts
  packages/server/src/mocks/EnvironmentVariableCollection.mock.ts
  packages/server/src/mocks/extensionContext.mock.ts
  packages/server/src/polyfill.ts
  packages/server/src/routes/file.routes.ts
  packages/server/src/routes/icons.routes.ts
  packages/server/src/routes/settings.routes.ts
  packages/server/src/routes/svg.routes.ts
  packages/server/src/routes/view.routes.ts
  packages/server/src/server.ts
  packages/server/src/types.d.ts
  packages/server/src/utilities/createExtensionUri.ts
  packages/server/src/utilities/getFilesFrontDirectory.ts
  packages/server/src/views/404.html
  packages/server/src/vscode.ts
  server/.vscode/launch.json
  server/.vscode/settings.json
Due: eslint --cache --fix, prettier --write

fix: update expected timestamp in getFileTimestamp test
  packages/extension/src/test/suite/utilities/files/misc.test.ts
Due: eslint --cache --fix, prettier --write

refactor: clean up .gitignore and improve VSCode configuration files
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
Due: prettier --write

refactor: format JSON theme file for improved readability
  packages/webview/public/dev/vs/theme/default-theme-one-dark.json
Due: prettier --write
